---
title: React - Dashboard bubbles
notes: Demo of the Bubbles component
layout: reactBase
labels:
  - inprogress
  - react
styles:
  - toolkit
bodyclass:
    - primary-gradient
---

<script type="text/babel">

    // Fake model is set in hbs layout: reactBase

    const Demo = () => {
        return (
            <React.Fragment>
                <TopBar {...user} {...balance} notifications={notifications}/>
                <Layout>
                    <Top title="We have removed the carousel from the bubbles component for now">
                        <h2>because it isn't inistialising with React in play properly. We will push a fix ASAP.</h2>
                    </Top>
                    <Middle columns="12">
                        <Bubbles {...balance} className="middle mt6" />
                        <div className="row middle">
                            <ButtonGroup horizontal className="mt4 col-sm-6 middle">
                                <Button type="spectial"><IconSvg type="top-up" /> Top-up</Button>
                                <Button type="spectial"><IconSvg type="gift" /> Give</Button>
                            </ButtonGroup>
                        </div>
                        <h2 className="h1 text-center mt6">Features, insights and actions</h2>
                        <div className="row">
                            <Card title="Simple card" subtitle="Card subtitle" imageUrl="http://via.placeholder.com/600x300" background columns="4">
                                <p>If you are a UK tax payer then all your top-ups and gifts will be boosted by signing the GiftAid delcalation</p>
                                <Button small type="secondary" full={false}>Button</Button>
                            </Card>
                            <Card title="Simple card" subtitle="Card subtitle" colour="grey-dark" imageUrl="http://via.placeholder.com/600x300" background  columns="4">
                                <p>If you are a UK tax payer then all your top-ups and gifts will be boosted by signing the GiftAid delcalation</p>
                                <Button small full={false}>Button</Button>
                            </Card>
                            <Card title="Simple card" subtitle="Card subtitle" colour="grey-dark" imageUrl="http://via.placeholder.com/600x300" background  columns="4">
                                <p>If you are a UK tax payer then all your top-ups and gifts will be boosted by signing the GiftAid delcalation</p>
                                <Button small full={false}>Button</Button>
                            </Card>
                        </div>
                    </Middle>
                </Layout>
                <Footer />
            </React.Fragment>
        );
    };

    ReactDOM.render(
        <Demo />,
        document.getElementById('root')
    );

</script>


