---
name: Top Bar
notes: The topbar contains the menu, user, balance and notifications.  See layout pages for direction on placement in the dom.
labels:
  - approved
  - react
previewClass: drizzle-u-rhythm bg-red
order: 1
hidden: true
---
<header>
    <div class="topbar-left">
      {{#embed "patterns.atoms.logo"}}
      {{/embed}}
      {{#embed "patterns.molecules.nav"}}
      {{/embed}}
    </div>
    <div class="topbar-right">
      {{#embed "patterns.molecules.amount"}}
      {{/embed}}
      <div class="user-box">
          <button class="user" data-not="2">
            <span class="user-name">Be</span>
          </button>
          {{!-- <nav class="user-nav">
              <h3 class="user-nav-title truncate">Ben Duke James Edward Broadbottom Edge</h3>
              <span class="user-nav-account-no">Giving Account No. 0123456</span>
              <ul class="user-nav-action">
                  <li><a href="#"><i class="ion-ios-person"></i> Profile and Settings</a></li>
                  <li><a href="#"><i class="ion-arrow-swap"></i> Switch accounts</a></li>
                  <li><a href="#"><i class="ion-log-out"></i> Sign out</a></li>
              </ul>
              <ul class="notifications">
                  <li>You bank account has expired <a href="#" class="delete-not" title="Delete notification">Got it <i class="ion-ios-close-empty"></i></a></li>
                  <li>There is scheduled maintenance on the system between 02:00 and 04:00 Saturday 1st January 2019  <a href="#" class="delete-not" title="Delete notification">Got it <i class="ion-ios-close-empty"></i></a></li>
                  <li>You bank account has expired <a href="#" class="delete-not" title="Delete notification">Got it <i class="ion-ios-close-empty"></i></a></li>
              </ul>
          </nav> --}}
      </div>
      {{#embed "patterns.atoms.buttons.burger"}}
      {{/embed}}
    </div>
</header>