---
name: Table
notes: |
  Lets try not to use this unless we have too.
labels:
  - approved
previewClass: drizzle-u-rhythm bg-red 
---
<table>
    <thead>
        <tr>
            <td>Item</td>
            <td>Credit</td>
            <td>Debit</td>
            <td>Date</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>One-off top-up</td>
            <td>£10</td>
            <td></td>
            <td>01/01/2018</td>
        </tr>
        <tr>
            <td>Gift: Oxfam</td>
            <td></td>
            <td>£10</td>
            <td>02/01/2018</td>
        </tr>
        <tr>
            <td>Monthly top-up</td>
            <td>£100</td>
            <td></td>
            <td>06/01/2018</td>
        </tr>
    </tbody>
</table>
