
/*
    @contra_agency
*/

@import "icons/ionicons";
@import "generic/fonts";
@import "generic/variables";
@import "generic/mixins";
@import "generic/helpers";
@import "generic/reset";
@import "layout/bootstrap-grid";

//Atoms
@import "atoms/typography";
@import "atoms/logo";
@import "atoms/label";
@import "atoms/inputs";
@import "atoms/select";
@import "atoms/textarea";
@import "atoms/checkbox";
@import "atoms/buttons";
@import "atoms/notifications";
@import "atoms/image";
@import "atoms/small-bubble";

//Molecules
@import "molecules/table";
@import "molecules/buttons-group";
@import "molecules/form";
@import "molecules/nav";
@import "molecules/user-box";
@import "molecules/card";
@import "molecules/regular-gifts";
@import "molecules/toggle";
@import "molecules/user";

//Organisms
@import "organisms/popup";
@import "organisms/charity-search";
@import "organisms/topbar";
@import "organisms/top-up-box";
@import "organisms/main-bubbles";
@import "organisms/charts";
@import "organisms/recent-transactions";
@import "organisms/gift-overlay";
@import "organisms/pay-method-overlay";
@import "organisms/main";
@import "organisms/footer";

//Page Templates

.box {
    background: blue;
    width: 200px;
    height: 200px;
    color: white;
}