---
name: Icons - Ionic
notes: The ionic icons are great for buttons and simple form elements.
links: 
  "Ionic Icons": http://ionicons.com
labels:
  - inprogress
previewClass: drizzle-u-rhythm bg-red
---

<h1>
      <i class="ion-ionic" data-tags="badass, framework, sexy, hawt"></i>
      <i class="ion-arrow-up-a" data-tags=""></i>
      <i class="ion-arrow-right-a" data-tags=""></i>
      <i class="ion-arrow-down-a" data-tags=""></i>
      <i class="ion-arrow-left-a" data-tags=""></i>
      <i class="ion-arrow-up-b" data-tags=""></i>
      <i class="ion-arrow-right-b" data-tags=""></i>
      <i class="ion-arrow-down-b" data-tags=""></i>
      <i class="ion-arrow-left-b" data-tags=""></i>
      <i class="ion-arrow-up-c" data-tags=""></i>
      <i class="ion-arrow-right-c" data-tags=""></i>
      <i class="ion-arrow-down-c" data-tags=""></i>
      <i class="ion-arrow-left-c" data-tags=""></i>
      <i class="ion-arrow-return-right" data-tags=""></i>
      <i class="ion-arrow-return-left" data-tags=""></i>
      <i class="ion-arrow-swap" data-tags="switch, flip"></i>
      <i class="ion-arrow-shrink" data-tags="pinch"></i>
      <i class="ion-arrow-expand" data-tags="fullscreen"></i>
      <i class="ion-arrow-move" data-tags="drag"></i>
      <i class="ion-arrow-resize" data-tags="drag"></i>
      <i class="ion-chevron-up" data-tags="arrow, up"></i>
      <i class="ion-chevron-right" data-tags="arrow, right"></i>
      <i class="ion-chevron-down" data-tags="arrow, down"></i>
      <i class="ion-chevron-left" data-tags="arrow, left"></i>
      <i class="ion-navicon-round" data-tags="menu, hamburger, slide menu"></i>
      <i class="ion-navicon" data-tags="menu, hamburger, slide menu"></i>
      <i class="ion-drag" data-tags="reorder, move, drag"></i>
      <i class="ion-log-in" data-tags="sign in, "></i>
      <i class="ion-log-out" data-tags="sign out"></i>
      <i class="ion-checkmark-round" data-tags="complete, finished, success, on"></i>
      <i class="ion-checkmark" data-tags="complete, finished, success, on"></i>
      <i class="ion-checkmark-circled" data-tags="complete, finished, success, on"></i>
      <i class="ion-close-round" data-tags="delete, trash, kill, x"></i>
      <i class="ion-close" data-tags="delete, trash, kill, x"></i>
      <i class="ion-close-circled" data-tags="delete, trash, kill, x"></i>
      <i class="ion-plus-round" data-tags="add, include, new, invite, +"></i>
      <i class="ion-plus" data-tags="add, include, new, invite, +"></i>
      <i class="ion-plus-circled" data-tags="add, include, new, invite, +"></i>
      <i class="ion-minus-round" data-tags="hide, remove, minimize, -"></i>
      <i class="ion-minus" data-tags="hide, remove, minimize, -"></i>
      <i class="ion-minus-circled" data-tags="hide, remove, minimize, -"></i>
      <i class="ion-information" data-tags="help, more, tooltip"></i>
      <i class="ion-information-circled" data-tags="help, more, tooltip"></i>
      <i class="ion-help" data-tags="question, ?"></i>
      <i class="ion-help-circled" data-tags="question, ?"></i>
      <i class="ion-backspace-outline" data-tags="delete, remove, back"></i>
      <i class="ion-backspace" data-tags="delete, remove, back"></i>
      <i class="ion-help-buoy" data-tags="question, ?"></i>
      <i class="ion-asterisk" data-tags="favorite, mark, star"></i>
      <i class="ion-alert" data-tags="attention, warning, notice, !, exclamation"></i>
      <i class="ion-alert-circled" data-tags="attention, warning, notice, !, exclamation"></i>
      <i class="ion-refresh" data-tags="reload, renew"></i>
      <i class="ion-loop" data-tags="refresh"></i>
      <i class="ion-shuffle" data-tags="random"></i>
      <i class="ion-home" data-tags="house"></i>
      <i class="ion-search" data-tags="magnifying glass"></i>
      <i class="ion-flag" data-tags="favorite, mark, star"></i>
      <i class="ion-star" data-tags="favorite"></i>
      <i class="ion-heart" data-tags="love"></i>
      <i class="ion-heart-broken" data-tags="love"></i>
      <i class="ion-gear-a" data-tags="settings, options, cog"></i>
      <i class="ion-gear-b" data-tags="settings, options, cog"></i>
      <i class="ion-toggle-filled" data-tags="settings, options, switch"></i>
      <i class="ion-toggle" data-tags="settings, options, switch"></i>
      <i class="ion-settings" data-tags="options, tools"></i>
      <i class="ion-wrench" data-tags="settings, options, tools"></i>
      <i class="ion-hammer" data-tags="settings, options, tools"></i>
      <i class="ion-edit" data-tags="change, update, write, type, pencil"></i>
      <i class="ion-trash-a" data-tags="delete, remove, dump"></i>
      <i class="ion-trash-b" data-tags="delete, remove, dump"></i>
      <i class="ion-document" data-tags="paper, file"></i>
      <i class="ion-document-text" data-tags="paper, file"></i>
      <i class="ion-clipboard" data-tags="write"></i>
      <i class="ion-scissors" data-tags="cut"></i>
      <i class="ion-funnel" data-tags="sort"></i>
      <i class="ion-bookmark" data-tags="favorite, tag, save"></i>
      <i class="ion-email" data-tags="snail, mail, inbox"></i>
      <i class="ion-email-unread" data-tags="snail, mail, inbox"></i>
      <i class="ion-folder" data-tags="snail, mail"></i>
      <i class="ion-filing" data-tags="mail"></i>
      <i class="ion-archive" data-tags="mail"></i>
      <i class="ion-reply" data-tags="mail, undo"></i>
      <i class="ion-reply-all" data-tags="mail"></i>
      <i class="ion-forward" data-tags="mail, redo"></i>
      <i class="ion-share" data-tags="outbound"></i>
      <i class="ion-paper-airplane" data-tags="outbound, mail, letter, send"></i>
      <i class="ion-link" data-tags="chain, anchor, href, attach"></i>
      <i class="ion-paperclip" data-tags="attach"></i>
      <i class="ion-compose" data-tags="write, compose, type"></i>
      <i class="ion-briefcase" data-tags="store, organize"></i>
      <i class="ion-medkit" data-tags="health"></i>
      <i class="ion-at" data-tags="@"></i>
      <i class="ion-pound" data-tags="hashtag, #"></i>
      <i class="ion-quote" data-tags="chat, quotation"></i>
      <i class="ion-cloud" data-tags="storage"></i>
      <i class="ion-upload" data-tags="storage, cloud"></i>
      <i class="ion-more" data-tags="circles"></i>
      <i class="ion-grid" data-tags="menu"></i>
      <i class="ion-calendar" data-tags="date, time, month, year"></i>
      <i class="ion-clock" data-tags="time, watch, hours, minutes, seconds"></i>
      <i class="ion-compass" data-tags="location, directions, navigation"></i>
      <i class="ion-pinpoint" data-tags="gps, navigation"></i>
      <i class="ion-pin" data-tags="gps, navigation"></i>
      <i class="ion-navigate" data-tags="gps, location pin"></i>
      <i class="ion-location" data-tags="gps, navigation, pin"></i>
      <i class="ion-map" data-tags="gps, navigation, pin"></i>
      <i class="ion-lock-combination" data-tags="padlock, security"></i>
      <i class="ion-locked" data-tags="padlock, security"></i>
      <i class="ion-unlocked" data-tags="padlock, security"></i>
      <i class="ion-key" data-tags="access"></i>
      <i class="ion-arrow-graph-up-right" data-tags="stats"></i>
      <i class="ion-arrow-graph-down-right" data-tags="stats"></i>
      <i class="ion-arrow-graph-up-left" data-tags="stats"></i>
      <i class="ion-arrow-graph-down-left" data-tags="stats"></i>
      <i class="ion-stats-bars" data-tags="data"></i>
      <i class="ion-connection-bars" data-tags="data, stats"></i>
      <i class="ion-pie-graph" data-tags="stats"></i>
      <i class="ion-chatbubble" data-tags="talk"></i>
      <i class="ion-chatbubble-working" data-tags="talk"></i>
      <i class="ion-chatbubbles" data-tags="talk"></i>
      <i class="ion-chatbox" data-tags="talk"></i>
      <i class="ion-chatbox-working" data-tags="talk"></i>
      <i class="ion-chatboxes" data-tags="talk"></i>
      <i class="ion-person" data-tags="users, staff, head, human"></i>
      <i class="ion-person-add" data-tags="users, staff, head, human, member, new"></i>
      <i class="ion-person-stalker" data-tags="people, human, users, staff"></i>
      <i class="ion-woman" data-tags="female, lady, girl, dudette"></i>
      <i class="ion-man" data-tags="male, guy, boy, dude"></i>
      <i class="ion-female" data-tags="lady, girl, dudette"></i>
      <i class="ion-male" data-tags="male, guy, boy, dude"></i>
      <i class="ion-transgender" data-tags=""></i>
      <i class="ion-fork" data-tags="food, drink, eat"></i>
      <i class="ion-knife" data-tags="food, drink, eat"></i>
      <i class="ion-spoon" data-tags="food, drink, eat"></i>
      <i class="ion-soup-can-outline" data-tags="food, drink, eat"></i>
      <i class="ion-soup-can" data-tags="food, drink, eat"></i>
      <i class="ion-beer" data-tags="food, drink, eat"></i>
      <i class="ion-wineglass" data-tags="food, drink, eat"></i>
      <i class="ion-coffee" data-tags="food, drink, eat, caffeine"></i>
      <i class="ion-icecream" data-tags="food, drink, eat"></i>
      <i class="ion-pizza" data-tags="food, drink, eat"></i>
      <i class="ion-power" data-tags="on, off"></i>
      <i class="ion-mouse" data-tags="computer"></i>
      <i class="ion-battery-full" data-tags=""></i>
      <i class="ion-battery-half" data-tags=""></i>
      <i class="ion-battery-low" data-tags=""></i>
      <i class="ion-battery-empty" data-tags=""></i>
      <i class="ion-battery-charging" data-tags=""></i>
      <i class="ion-wifi" data-tags="internet, connection"></i>
      <i class="ion-bluetooth" data-tags="connection, cloud"></i>
      <i class="ion-calculator" data-tags="math, arithmatic, numbers, addition, subtraction"></i>
      <i class="ion-camera" data-tags="photo"></i>
      <i class="ion-eye" data-tags="view, see, creeper"></i>
      <i class="ion-eye-disabled" data-tags="view, see, creeper"></i>
      <i class="ion-flash" data-tags="lightning, weather, whether"></i>
      <i class="ion-flash-off" data-tags=""></i>
      <i class="ion-qr-scanner" data-tags="reader"></i>
      <i class="ion-image" data-tags="photo"></i>
      <i class="ion-images" data-tags="photo"></i>
      <i class="ion-wand" data-tags="images, levels, light, dark, settings"></i>
      <i class="ion-contrast" data-tags="images, levels, light, dark, settings"></i>
      <i class="ion-aperture" data-tags="images, levels, light, dark, settings"></i>
      <i class="ion-crop" data-tags="images, levels, light, dark, settings"></i>
      <i class="ion-easel" data-tags="images, art, create, color"></i>
      <i class="ion-paintbrush" data-tags="images, art, create, color"></i>
      <i class="ion-paintbucket" data-tags="images, art, create, color"></i>
      <i class="ion-monitor" data-tags="thunderbolt, screen"></i>
      <i class="ion-laptop" data-tags="macbook, apple, osx"></i>
      <i class="ion-ipad" data-tags="tablet, mobile, apple, retina, device"></i>
      <i class="ion-iphone" data-tags="smartphone, mobile, apple, retina, device"></i>
      <i class="ion-ipod" data-tags="music, player, apple, retina, device"></i>
      <i class="ion-printer" data-tags="paper"></i>
      <i class="ion-usb" data-tags="digital, computer"></i>
      <i class="ion-outlet" data-tags="digital, computer, electricity"></i>
      <i class="ion-bug" data-tags="develop, program, hacker, error"></i>
      <i class="ion-code" data-tags="develop, program, hacker"></i>
      <i class="ion-code-working" data-tags="develop, program, hacker"></i>
      <i class="ion-code-download" data-tags="develop, program, hacker"></i>
      <i class="ion-fork-repo" data-tags="develop, program, hacker, github"></i>
      <i class="ion-network" data-tags="develop, program, hacker, github"></i>
      <i class="ion-pull-request" data-tags="develop, program, hacker, github"></i>
      <i class="ion-merge" data-tags="develop, program, hacker, github"></i>
      <i class="ion-xbox" data-tags="fun, games"></i>
      <i class="ion-playstation" data-tags="fun, games"></i>
      <i class="ion-steam" data-tags="fun, games"></i>
      <i class="ion-closed-captioning" data-tags="movie, film, television"></i>
      <i class="ion-videocamera" data-tags="movie, film, television"></i>
      <i class="ion-film-marker" data-tags="film, cut, action"></i>
      <i class="ion-disc" data-tags="cd, vinyl"></i>
      <i class="ion-headphone" data-tags="music, earbuds, beats"></i>
      <i class="ion-music-note" data-tags="songs"></i>
      <i class="ion-radio-waves" data-tags="music, sound, speaker"></i>
      <i class="ion-speakerphone" data-tags="sound, speaker, loud, amplify"></i>
      <i class="ion-mic-a" data-tags="sound, talk, speaker"></i>
      <i class="ion-mic-b" data-tags="sound, talk, speaker"></i>
      <i class="ion-mic-c" data-tags="sound, talk, speaker"></i>
      <i class="ion-volume-high" data-tags="sound, noise"></i>
      <i class="ion-volume-medium" data-tags="sound"></i>
      <i class="ion-volume-low" data-tags="sound"></i>
      <i class="ion-volume-mute" data-tags="sound"></i>
      <i class="ion-levels" data-tags="options, toggles, sound, mixer"></i>
      <i class="ion-play" data-tags="music, watch, arrow, right"></i>
      <i class="ion-pause" data-tags="music, break, hold, freeze"></i>
      <i class="ion-stop" data-tags="music, square, hold, freeze"></i>
      <i class="ion-record" data-tags="music, circle"></i>
      <i class="ion-skip-forward" data-tags="music, next"></i>
      <i class="ion-skip-backward" data-tags="music, previous"></i>
      <i class="ion-eject" data-tags="music, dvd, remove"></i>
      <i class="ion-bag" data-tags="shopping, price, cart, money, container, $"></i>
      <i class="ion-card" data-tags="credit, price, debit, money, shopping, cash, dollars, $"></i>
      <i class="ion-cash" data-tags="credit, price, debit, money, shopping, dollars, $"></i>
      <i class="ion-pricetag" data-tags="credit, debit, money, shopping, cash, dollars, $"></i>
      <i class="ion-pricetags" data-tags="credit, debit, money, shopping, cash, dollars, $"></i>
      <i class="ion-thumbsup" data-tags="like, fun, yes"></i>
      <i class="ion-thumbsdown" data-tags="dislike, boring, no"></i>
      <i class="ion-happy-outline" data-tags="good, like, fun, yes"></i>
      <i class="ion-happy" data-tags="good, like, fun, yes"></i>
      <i class="ion-sad-outline" data-tags="cry, bad, no"></i>
      <i class="ion-sad" data-tags="cry, bad, no"></i>
      <i class="ion-bowtie" data-tags="tie, shirt, dress, clothing"></i>
      <i class="ion-tshirt-outline" data-tags="tie, shirt, dress, clothing"></i>
      <i class="ion-tshirt" data-tags="tie, shirt, dress, clothing"></i>
      <i class="ion-trophy" data-tags="competition, compete, win, lose, award"></i>
      <i class="ion-podium" data-tags="competition, compete, win, lose, award"></i>
      <i class="ion-ribbon-a" data-tags="competition, compete, win, lose, award, trophy"></i>
      <i class="ion-ribbon-b" data-tags="competition, compete, win, lose, award, trophy"></i>
      <i class="ion-university" data-tags="graduate, education, school, tassle"></i>
      <i class="ion-magnet" data-tags="sticky, attraction"></i>
      <i class="ion-beaker" data-tags="mixture, potion, flask"></i>
      <i class="ion-erlenmeyer-flask" data-tags="mixture, potion, beaker, potion"></i>
      <i class="ion-egg" data-tags="birth, twitter, bird, baby"></i>
      <i class="ion-earth" data-tags="nature, globe, home, planet"></i>
      <i class="ion-planet" data-tags="nature, globe, home, planet, space"></i>
      <i class="ion-lightbulb" data-tags="idea, new, aha!"></i>
      <i class="ion-cube" data-tags="box, square, container"></i>
      <i class="ion-leaf" data-tags="green, recycle, plant, nature"></i>
      <i class="ion-waterdrop" data-tags="nature, clean, recycle, fresh, wet, rain"></i>
      <i class="ion-flame" data-tags="fire, hot, heat"></i>
      <i class="ion-fireball" data-tags="hot, heat"></i>
      <i class="ion-bonfire" data-tags="hot, heat"></i>
      <i class="ion-umbrella" data-tags="wet, rain, dry, shelter"></i>
      <i class="ion-nuclear" data-tags="danger, warning, hazard"></i>
      <i class="ion-no-smoking" data-tags="danger, warning, cigarette, cancer"></i>
      <i class="ion-thermometer" data-tags="hot, cold, heat, temperature, mercury"></i>
      <i class="ion-speedometer" data-tags="travel, accelerate"></i>
      <i class="ion-model-s" data-tags="navigation, car, drive, transportation, tesla, sexy"></i>
      <i class="ion-plane" data-tags="fly, jet"></i>
      <i class="ion-jet" data-tags="fly, plane"></i>
      <i class="ion-load-a" data-tags="spinner, waiting, refresh"></i>
      <i class="ion-load-b" data-tags="spinner, waiting, refresh"></i>
      <i class="ion-load-c" data-tags="spinner, waiting, refresh"></i>
      <i class="ion-load-d" data-tags="spinner, waiting, refresh"></i>
      <i class="ion-ios-ionic-outline" data-tags="badass, framework, sexy"></i>
      <i class="ion-ios-arrow-back" data-tags="chevron, left"></i>
      <i class="ion-ios-arrow-forward" data-tags="chevron, right"></i>
      <i class="ion-ios-arrow-up" data-tags="chevron"></i>
      <i class="ion-ios-arrow-right" data-tags="chevron"></i>
      <i class="ion-ios-arrow-down" data-tags="chevron"></i>
      <i class="ion-ios-arrow-left" data-tags="chevron"></i>
      <i class="ion-ios-arrow-thin-up" data-tags="chevron"></i>
      <i class="ion-ios-arrow-thin-right" data-tags="chevron"></i>
      <i class="ion-ios-arrow-thin-down" data-tags="chevron"></i>
      <i class="ion-ios-arrow-thin-left" data-tags="chevron"></i>
      <i class="ion-ios-circle-filled" data-tags="checkmark, radio, dot, on, selected, button"></i>
      <i class="ion-ios-circle-outline" data-tags="checkmark, radio, dot, off, button"></i>
      <i class="ion-ios-checkmark-empty" data-tags="success, confirmed, on, finished, complete"></i>
      <i class="ion-ios-checkmark-outline" data-tags="success, confirmed, on, finished, complete"></i>
      <i class="ion-ios-checkmark" data-tags="success, confirmed, on, finished, complete"></i>
      <i class="ion-ios-plus-empty" data-tags="add, include, new, invite, +"></i>
      <i class="ion-ios-plus-outline" data-tags="add, include, new, invite, +"></i>
      <i class="ion-ios-plus" data-tags="add, include, new, invite, +"></i>
      <i class="ion-ios-close-empty" data-tags="delete, remove, trash, end, stop, x"></i>
      <i class="ion-ios-close-outline" data-tags="delete, remove, trash, end, stop, x"></i>
      <i class="ion-ios-close" data-tags="delete, remove, trash, end, stop, x"></i>
      <i class="ion-ios-minus-empty" data-tags="hide, remove, minimize, -"></i>
      <i class="ion-ios-minus-outline" data-tags="hide, remove, minimize, -"></i>
      <i class="ion-ios-minus" data-tags="hide, remove, minimize, -"></i>
      <i class="ion-ios-information-empty" data-tags="help, question"></i>
      <i class="ion-ios-information-outline" data-tags="help, question"></i>
      <i class="ion-ios-information" data-tags="help, question"></i>
      <i class="ion-ios-help-empty" data-tags="question, information, ?"></i>
      <i class="ion-ios-help-outline" data-tags="question, information, ?"></i>
      <i class="ion-ios-help" data-tags="question, information, ?"></i>
      <i class="ion-ios-search" data-tags="find, seek, look, magnifying glass"></i>
      <i class="ion-ios-search-strong" data-tags="find, seek, look, magnifying glass"></i>
      <i class="ion-ios-star" data-tags="favorite, rate"></i>
      <i class="ion-ios-star-half" data-tags="favorite, rate"></i>
      <i class="ion-ios-star-outline" data-tags="favorite, rate"></i>
      <i class="ion-ios-heart" data-tags="love"></i>
      <i class="ion-ios-heart-outline" data-tags="love"></i>
      <i class="ion-ios-more" data-tags="menu"></i>
      <i class="ion-ios-more-outline" data-tags="menu"></i>
      <i class="ion-ios-home" data-tags="house"></i>
      <i class="ion-ios-home-outline" data-tags="house"></i>
      <i class="ion-ios-cloud" data-tags="storage, weather, whether"></i>
      <i class="ion-ios-cloud-outline" data-tags="storage, weather, whether"></i>
      <i class="ion-ios-cloud-upload" data-tags="storage"></i>
      <i class="ion-ios-cloud-upload-outline" data-tags="storage"></i>
      <i class="ion-ios-cloud-download" data-tags="storage"></i>
      <i class="ion-ios-cloud-download-outline" data-tags="storage"></i>
      <i class="ion-ios-upload" data-tags="share, import"></i>
      <i class="ion-ios-upload-outline" data-tags="share, import"></i>
      <i class="ion-ios-download" data-tags="save, export"></i>
      <i class="ion-ios-download-outline" data-tags="save, export"></i>
      <i class="ion-ios-refresh" data-tags="reload, renew, reset"></i>
      <i class="ion-ios-refresh-outline" data-tags="reload, renew, reset"></i>
      <i class="ion-ios-refresh-empty" data-tags="reload, renew"></i>
      <i class="ion-ios-reload" data-tags="renew, reset"></i>
      <i class="ion-ios-loop-strong" data-tags="reload, renew, reset"></i>
      <i class="ion-ios-loop" data-tags="reload, renew, reset"></i>
      <i class="ion-ios-bookmarks" data-tags="favorite"></i>
      <i class="ion-ios-bookmarks-outline" data-tags="favorite"></i>
      <i class="ion-ios-book" data-tags="favorite, read, literature"></i>
      <i class="ion-ios-book-outline" data-tags="favorite, read, literature"></i>
      <i class="ion-ios-flag" data-tags="marker, favorite"></i>
      <i class="ion-ios-flag-outline" data-tags="marker, favorite"></i>
      <i class="ion-ios-glasses" data-tags="steve, reading, look, see"></i>
      <i class="ion-ios-glasses-outline" data-tags="steve, reading, look, see"></i>
      <i class="ion-ios-browsers" data-tags="square"></i>
      <i class="ion-ios-browsers-outline" data-tags="square"></i>
      <i class="ion-ios-at" data-tags="@"></i>
      <i class="ion-ios-at-outline" data-tags="@"></i>
      <i class="ion-ios-pricetag" data-tags="shopping, money, items, commerce, $"></i>
      <i class="ion-ios-pricetag-outline" data-tags="shopping, money, items, commerce, $"></i>
      <i class="ion-ios-pricetags" data-tags="shopping, money, items, commerce, $"></i>
      <i class="ion-ios-pricetags-outline" data-tags="shopping, money, items, commerce, $"></i>
      <i class="ion-ios-cart" data-tags="shopping, money, items, commerce, $"></i>
      <i class="ion-ios-cart-outline" data-tags="shopping, money, items, commerce, $"></i>
      <i class="ion-ios-chatboxes" data-tags="talk"></i>
      <i class="ion-ios-chatboxes-outline" data-tags="talk"></i>
      <i class="ion-ios-chatbubble" data-tags="talk"></i>
      <i class="ion-ios-chatbubble-outline" data-tags="talk"></i>
      <i class="ion-ios-cog" data-tags="settings, gear, options"></i>
      <i class="ion-ios-cog-outline" data-tags="settings, gear, options"></i>
      <i class="ion-ios-gear" data-tags="cog, settings, options"></i>
      <i class="ion-ios-gear-outline" data-tags="cog, settings, options"></i>
      <i class="ion-ios-settings" data-tags="cog, settings, options"></i>
      <i class="ion-ios-settings-strong" data-tags="cog, settings, options"></i>
      <i class="ion-ios-toggle" data-tags="settings, options, switch"></i>
      <i class="ion-ios-toggle-outline" data-tags="settings, options, switch"></i>
      <i class="ion-ios-analytics" data-tags="metrics, track, data"></i>
      <i class="ion-ios-analytics-outline" data-tags="metrics, track, data"></i>
      <i class="ion-ios-pie" data-tags="cog, settings, options"></i>
      <i class="ion-ios-pie-outline" data-tags="cog, settings, options"></i>
      <i class="ion-ios-pulse" data-tags="live, hot, rate"></i>
      <i class="ion-ios-pulse-strong" data-tags="live, hot, rate"></i>
      <i class="ion-ios-filing" data-tags="archive"></i>
      <i class="ion-ios-filing-outline" data-tags="archive"></i>
      <i class="ion-ios-box" data-tags="archive"></i>
      <i class="ion-ios-box-outline" data-tags="archive"></i>
      <i class="ion-ios-compose" data-tags="write, type, create"></i>
      <i class="ion-ios-compose-outline" data-tags="write, type, create"></i>
      <i class="ion-ios-trash" data-tags="delete, remove, dispose, waste, basket, dump, kill"></i>
      <i class="ion-ios-trash-outline" data-tags="delete, remove, dispose, waste, basket, dump, kill"></i>
      <i class="ion-ios-copy" data-tags="duplicate, paper"></i>
      <i class="ion-ios-copy-outline" data-tags="duplicate, paper"></i>
      <i class="ion-ios-email" data-tags="snail, mail"></i>
      <i class="ion-ios-email-outline" data-tags="snail, mail"></i>
      <i class="ion-ios-undo" data-tags="reply"></i>
      <i class="ion-ios-undo-outline" data-tags="reply"></i>
      <i class="ion-ios-redo" data-tags="forward"></i>
      <i class="ion-ios-redo-outline" data-tags="forward"></i>
      <i class="ion-ios-paperplane" data-tags="send"></i>
      <i class="ion-ios-paperplane-outline" data-tags="send"></i>
      <i class="ion-ios-folder" data-tags="file"></i>
      <i class="ion-ios-folder-outline" data-tags="file"></i>
      <i class="ion-ios-paper" data-tags="feed, paper"></i>
      <i class="ion-ios-paper-outline" data-tags="feed, paper"></i>
      <i class="ion-ios-list" data-tags="todo, feed, paper"></i>
      <i class="ion-ios-list-outline" data-tags="todo, feed, paper"></i>
      <i class="ion-ios-world" data-tags="globe, earth"></i>
      <i class="ion-ios-world-outline" data-tags="globe, earth"></i>
      <i class="ion-ios-alarm" data-tags="wake, ring"></i>
      <i class="ion-ios-alarm-outline" data-tags="wake, ring"></i>
      <i class="ion-ios-speedometer" data-tags="speed, drive, level"></i>
      <i class="ion-ios-speedometer-outline" data-tags="speed, drive, level"></i>
      <i class="ion-ios-stopwatch" data-tags="time, speed"></i>
      <i class="ion-ios-stopwatch-outline" data-tags="time, speed"></i>
      <i class="ion-ios-timer" data-tags="cooking, alarm, buzz"></i>
      <i class="ion-ios-timer-outline" data-tags="cooking, alarm, buzz"></i>
      <i class="ion-ios-clock" data-tags="time, date, hours, minutes, seconds, watch"></i>
      <i class="ion-ios-clock-outline" data-tags="time, date, hours, minutes, seconds, watch"></i>
      <i class="ion-ios-time" data-tags="clock, watch, hour, minute, second"></i>
      <i class="ion-ios-time-outline" data-tags="clock, watch, hour, minute, second"></i>
      <i class="ion-ios-calendar" data-tags="date, time, month, year"></i>
      <i class="ion-ios-calendar-outline" data-tags="date, time, month, year"></i>
      <i class="ion-ios-photos" data-tags="images, stills, square"></i>
      <i class="ion-ios-photos-outline" data-tags="images, stills, square"></i>
      <i class="ion-ios-albums" data-tags="square, boxes, slides"></i>
      <i class="ion-ios-albums-outline" data-tags="square, boxes, slides"></i>
      <i class="ion-ios-camera" data-tags="picture"></i>
      <i class="ion-ios-camera-outline" data-tags="picture"></i>
      <i class="ion-ios-reverse-camera" data-tags="picture"></i>
      <i class="ion-ios-reverse-camera-outline" data-tags="picture"></i>
      <i class="ion-ios-eye" data-tags="view, see, exposed, look"></i>
      <i class="ion-ios-eye-outline" data-tags="view, see, exposed, look"></i>
      <i class="ion-ios-bolt" data-tags="flash, lightning"></i>
      <i class="ion-ios-bolt-outline" data-tags="flash, lightning"></i>
      <i class="ion-ios-color-wand" data-tags="camera, picture, edit, magic"></i>
      <i class="ion-ios-color-wand-outline" data-tags="camera, picture, edit, magic"></i>
      <i class="ion-ios-color-filter" data-tags="camera, picture"></i>
      <i class="ion-ios-color-filter-outline" data-tags="camera, picture"></i>
      <i class="ion-ios-grid-view" data-tags="camera, picture"></i>
      <i class="ion-ios-grid-view-outline" data-tags="camera, picture"></i>
      <i class="ion-ios-crop-strong" data-tags="camera, picture, edit"></i>
      <i class="ion-ios-crop" data-tags="camera, picture, edit"></i>
      <i class="ion-ios-barcode" data-tags="reader, camera"></i>
      <i class="ion-ios-barcode-outline" data-tags="reader, camera"></i>
      <i class="ion-ios-briefcase" data-tags="organize, folder"></i>
      <i class="ion-ios-briefcase-outline" data-tags="organize, folder"></i>
      <i class="ion-ios-medkit" data-tags="health, case, first aid, sick, disease"></i>
      <i class="ion-ios-medkit-outline" data-tags="health, case, first aid, sick, disease"></i>
      <i class="ion-ios-medical" data-tags="health, case, first aid, sick, disease"></i>
      <i class="ion-ios-medical-outline" data-tags="health, case, first aid, sick, disease"></i>
      <i class="ion-ios-infinite" data-tags="forever, loop"></i>
      <i class="ion-ios-infinite-outline" data-tags="forever, loop"></i>
      <i class="ion-ios-calculator" data-tags="math, arithmatic"></i>
      <i class="ion-ios-calculator-outline" data-tags="math, arithmatic"></i>
      <i class="ion-ios-keypad" data-tags="type, grid, circle"></i>
      <i class="ion-ios-keypad-outline" data-tags="type, grid, circle"></i>
      <i class="ion-ios-telephone" data-tags="oldschool, call"></i>
      <i class="ion-ios-telephone-outline" data-tags="oldschool, call"></i>
      <i class="ion-ios-drag" data-tags="reorder, move, drag"></i>
      <i class="ion-ios-location" data-tags="navigation, map, gps, pin"></i>
      <i class="ion-ios-location-outline" data-tags="navigation, map, gps, pin"></i>
      <i class="ion-ios-navigate" data-tags="location, map, gps, pin"></i>
      <i class="ion-ios-navigate-outline" data-tags="location, map, gps, pin"></i>
      <i class="ion-ios-locked" data-tags="security, padlock, safe"></i>
      <i class="ion-ios-locked-outline" data-tags="security, padlock, safe"></i>
      <i class="ion-ios-unlocked" data-tags="security, padlock, safe"></i>
      <i class="ion-ios-unlocked-outline" data-tags="security, padlock, safe"></i>
      <i class="ion-ios-monitor" data-tags="thunderbolt, display, screen"></i>
      <i class="ion-ios-monitor-outline" data-tags="thunderbolt, display, screen"></i>
      <i class="ion-ios-printer" data-tags="paper"></i>
      <i class="ion-ios-printer-outline" data-tags="paper"></i>
      <i class="ion-ios-game-controller-a" data-tags="gaming, nintendo, play"></i>
      <i class="ion-ios-game-controller-a-outline" data-tags="gaming, nintendo, play"></i>
      <i class="ion-ios-game-controller-b" data-tags="gaming, nintendo, play"></i>
      <i class="ion-ios-game-controller-b-outline" data-tags="gaming, nintendo, play"></i>
      <i class="ion-ios-americanfootball" data-tags="nfl, games, sports, fun, play"></i>
      <i class="ion-ios-americanfootball-outline" data-tags="nfl, games, sports, fun, play"></i>
      <i class="ion-ios-baseball" data-tags="mlb, games, sports, fun, play"></i>
      <i class="ion-ios-baseball-outline" data-tags="mlb, games, sports, fun, play"></i>
      <i class="ion-ios-basketball" data-tags="nba, games, sports, fun, play"></i>
      <i class="ion-ios-basketball-outline" data-tags="nba, games, sports, fun, play"></i>
      <i class="ion-ios-tennisball" data-tags="games, sports, fun, play"></i>
      <i class="ion-ios-tennisball-outline" data-tags="games, sports, fun, play"></i>
      <i class="ion-ios-football" data-tags="mls, soccer, games, sports, fun, play"></i>
      <i class="ion-ios-football-outline" data-tags="mls, soccer, games, sports, fun, play"></i>
      <i class="ion-ios-body" data-tags="person, users, staff, head, human"></i>
      <i class="ion-ios-body-outline" data-tags="person, users, staff, head, human"></i>
      <i class="ion-ios-person" data-tags="users, staff, head, human"></i>
      <i class="ion-ios-person-outline" data-tags="users, staff, head, human"></i>
      <i class="ion-ios-personadd" data-tags="users, staff, head, human, new, invite"></i>
      <i class="ion-ios-personadd-outline" data-tags="users, staff, head, human, new, invite"></i>
      <i class="ion-ios-people" data-tags="stalker, person, users, head, human"></i>
      <i class="ion-ios-people-outline" data-tags="stalker, person, users, head, human"></i>
      <i class="ion-ios-musical-notes" data-tags="sound, noise, listening, play"></i>
      <i class="ion-ios-musical-note" data-tags="sound, noise, listening, play"></i>
      <i class="ion-ios-bell" data-tags="right, noise, alarm, sound, music"></i>
      <i class="ion-ios-bell-outline" data-tags="right, noise, alarm, sound, music"></i>
      <i class="ion-ios-mic" data-tags="sound, noise, speaker, talk"></i>
      <i class="ion-ios-mic-outline" data-tags="sound, noise, speaker, talk"></i>
      <i class="ion-ios-mic-off" data-tags="sound, noise, speaker, talk"></i>
      <i class="ion-ios-volume-high" data-tags="sound, noise, listen, music"></i>
      <i class="ion-ios-volume-low" data-tags="sound, noise, listen, music"></i>
      <i class="ion-ios-play" data-tags="music, watch, arrow, right"></i>
      <i class="ion-ios-play-outline" data-tags="music, watch, arrow, right"></i>
      <i class="ion-ios-pause" data-tags="music, break, hold, freeze"></i>
      <i class="ion-ios-pause-outline" data-tags="music, break, hold, freeze"></i>
      <i class="ion-ios-recording" data-tags="film, tape, voicemail"></i>
      <i class="ion-ios-recording-outline" data-tags="film, tape, voicemail"></i>
      <i class="ion-ios-fastforward" data-tags="next, skip, jump"></i>
      <i class="ion-ios-fastforward-outline" data-tags="next, skip, jump"></i>
      <i class="ion-ios-rewind" data-tags="music, previous, back"></i>
      <i class="ion-ios-rewind-outline" data-tags="music, previous, back"></i>
      <i class="ion-ios-skipbackward" data-tags="music, previous"></i>
      <i class="ion-ios-skipbackward-outline" data-tags="music, previous"></i>
      <i class="ion-ios-skipforward" data-tags="music, next"></i>
      <i class="ion-ios-skipforward-outline" data-tags="music, next"></i>
      <i class="ion-ios-shuffle-strong" data-tags="music, next"></i>
      <i class="ion-ios-shuffle" data-tags="music, next"></i>
      <i class="ion-ios-videocam" data-tags="film, movie, camera"></i>
      <i class="ion-ios-videocam-outline" data-tags="film, movie, camera"></i>
      <i class="ion-ios-film" data-tags="film, movie, camera"></i>
      <i class="ion-ios-film-outline" data-tags="film, movie, camera"></i>
      <i class="ion-ios-flask" data-tags="options, mixer, liquid"></i>
      <i class="ion-ios-flask-outline" data-tags="options, mixer, liquid"></i>
      <i class="ion-ios-lightbulb" data-tags="idea, new, bright, aha!"></i>
      <i class="ion-ios-lightbulb-outline" data-tags="idea, new, bright, aha!"></i>
      <i class="ion-ios-wineglass" data-tags="alcohol, drink, food, glass, drunk, cheers"></i>
      <i class="ion-ios-wineglass-outline" data-tags="alcohol, drink, food, glass, drunk, cheers"></i>
      <i class="ion-ios-pint" data-tags="alcohol, drink, food, beer, drunk, cheers"></i>
      <i class="ion-ios-pint-outline" data-tags="alcohol, drink, food, beer, drunk, cheers"></i>
      <i class="ion-ios-nutrition" data-tags="health, carrot, food"></i>
      <i class="ion-ios-nutrition-outline" data-tags="health, carrot, food"></i>
      <i class="ion-ios-flower" data-tags="nature, spring, leaf, garden"></i>
      <i class="ion-ios-flower-outline" data-tags="nature, spring, leaf, garden"></i>
      <i class="ion-ios-rose" data-tags="nature, spring, leaf, garden, flower"></i>
      <i class="ion-ios-rose-outline" data-tags="nature, spring, leaf, garden, flower"></i>
      <i class="ion-ios-paw" data-tags="nature, animal, pet, outdoor, track"></i>
      <i class="ion-ios-paw-outline" data-tags="nature, animal, pet, outdoor, track"></i>
      <i class="ion-ios-flame" data-tags="fire, hot, burn"></i>
      <i class="ion-ios-flame-outline" data-tags="fire, hot, burn"></i>
      <i class="ion-ios-sunny" data-tags="weather, whether, light, sky"></i>
      <i class="ion-ios-sunny-outline" data-tags="weather, whether, light, sky"></i>
      <i class="ion-ios-partlysunny" data-tags="light, weather, whether, cloudy"></i>
      <i class="ion-ios-partlysunny-outline" data-tags="light, weather, whether, cloudy"></i>
      <i class="ion-ios-cloudy" data-tags="weather, whether, overcast"></i>
      <i class="ion-ios-cloudy-outline" data-tags="weather, whether, overcast"></i>
      <i class="ion-ios-rainy" data-tags="whether, weather, water, cloud"></i>
      <i class="ion-ios-rainy-outline" data-tags="whether, weather, water, cloud"></i>
      <i class="ion-ios-thunderstorm" data-tags="whether, weather, sky, lightning, rain, cloudy, overcast, storm"></i>
      <i class="ion-ios-thunderstorm-outline" data-tags="whether, weather, sky, lightning, rain, cloudy, overcast, storm"></i>
      <i class="ion-ios-snowy" data-tags="cold, weather, whether, overcast"></i>
      <i class="ion-ios-moon" data-tags="sky, night, dark"></i>
      <i class="ion-ios-moon-outline" data-tags="sky, night, dark"></i>
      <i class="ion-ios-cloudy-night" data-tags="weather, whether, overcast"></i>
      <i class="ion-ios-cloudy-night-outline" data-tags="weather, whether, overcast"></i>
      <i class="ion-android-arrow-up" data-tags="chevron, navigation"></i>
      <i class="ion-android-arrow-forward" data-tags="chevron, navigation"></i>
      <i class="ion-android-arrow-down" data-tags="chevron, navigation"></i>
      <i class="ion-android-arrow-back" data-tags="chevron, navigation"></i>
      <i class="ion-android-arrow-dropup" data-tags="chevron, navigation"></i>
      <i class="ion-android-arrow-dropup-circle" data-tags="chevron, navigation"></i>
      <i class="ion-android-arrow-dropright" data-tags="chevron, navigation"></i>
      <i class="ion-android-arrow-dropright-circle" data-tags="chevron, navigation"></i>
      <i class="ion-android-arrow-dropdown" data-tags="chevron, navigation"></i>
      <i class="ion-android-arrow-dropdown-circle" data-tags="chevron, navigation"></i>
      <i class="ion-android-arrow-dropleft" data-tags="chevron, navigation"></i>
      <i class="ion-android-arrow-dropleft-circle" data-tags="chevron, navigation"></i>
      <i class="ion-android-add" data-tags="plus, include, invite"></i>
      <i class="ion-android-add-circle" data-tags="plus, include, invite"></i>
      <i class="ion-android-remove" data-tags="minus, subtract, delete"></i>
      <i class="ion-android-remove-circle" data-tags="minus, subtract, delete"></i>
      <i class="ion-android-close" data-tags="delete, remove"></i>
      <i class="ion-android-cancel" data-tags="delete, remove"></i>
      <i class="ion-android-radio-button-off" data-tags=""></i>
      <i class="ion-android-radio-button-on" data-tags=""></i>
      <i class="ion-android-checkmark-circle" data-tags=""></i>
      <i class="ion-android-checkbox-outline-blank" data-tags=""></i>
      <i class="ion-android-checkbox-outline" data-tags=""></i>
      <i class="ion-android-checkbox-blank" data-tags=""></i>
      <i class="ion-android-checkbox" data-tags=""></i>
      <i class="ion-android-done" data-tags=""></i>
      <i class="ion-android-done-all" data-tags=""></i>
      <i class="ion-android-menu" data-tags=""></i>
      <i class="ion-android-more-horizontal" data-tags="options, menu"></i>
      <i class="ion-android-more-vertical" data-tags="options, menu"></i>
      <i class="ion-android-refresh" data-tags=""></i>
      <i class="ion-android-sync" data-tags=""></i>
      <i class="ion-android-wifi" data-tags="internet,connection, bars"></i>
      <i class="ion-android-call" data-tags="telephone"></i>
      <i class="ion-android-apps" data-tags=""></i>
      <i class="ion-android-settings" data-tags="options"></i>
      <i class="ion-android-options" data-tags="settings, mixer"></i>
      <i class="ion-android-funnel" data-tags=""></i>
      <i class="ion-android-search" data-tags="magnifying glass"></i>
      <i class="ion-android-home" data-tags=""></i>
      <i class="ion-android-cloud-outline" data-tags=""></i>
      <i class="ion-android-cloud" data-tags=""></i>
      <i class="ion-android-download" data-tags=""></i>
      <i class="ion-android-upload" data-tags=""></i>
      <i class="ion-android-cloud-done" data-tags=""></i>
      <i class="ion-android-cloud-circle" data-tags=""></i>
      <i class="ion-android-favorite-outline" data-tags="favorite, like, rate"></i>
      <i class="ion-android-favorite" data-tags="favorite, like, rate"></i>
      <i class="ion-android-star-outline" data-tags="favorite, like, rate"></i>
      <i class="ion-android-star-half" data-tags="favorite, like, rate"></i>
      <i class="ion-android-star" data-tags="favorite, like, rate"></i>
      <i class="ion-android-calendar" data-tags="clock"></i>
      <i class="ion-android-alarm-clock" data-tags="clock"></i>
      <i class="ion-android-time" data-tags="clock"></i>
      <i class="ion-android-stopwatch" data-tags=""></i>
      <i class="ion-android-watch" data-tags=""></i>
      <i class="ion-android-locate" data-tags=""></i>
      <i class="ion-android-navigate" data-tags=""></i>
      <i class="ion-android-pin" data-tags=""></i>
      <i class="ion-android-compass" data-tags=""></i>
      <i class="ion-android-map" data-tags=""></i>
      <i class="ion-android-walk" data-tags=""></i>
      <i class="ion-android-bicycle" data-tags="move, bike, transportation, maps"></i>
      <i class="ion-android-car" data-tags=""></i>
      <i class="ion-android-bus" data-tags=""></i>
      <i class="ion-android-subway" data-tags=""></i>
      <i class="ion-android-train" data-tags=""></i>
      <i class="ion-android-boat" data-tags=""></i>
      <i class="ion-android-plane" data-tags=""></i>
      <i class="ion-android-restaurant" data-tags=""></i>
      <i class="ion-android-bar" data-tags="wine, drink, food, dinner"></i>
      <i class="ion-android-cart" data-tags=""></i>
      <i class="ion-android-camera" data-tags=""></i>
      <i class="ion-android-image" data-tags=""></i>
      <i class="ion-android-film" data-tags=""></i>
      <i class="ion-android-color-palette" data-tags=""></i>
      <i class="ion-android-create" data-tags=""></i>
      <i class="ion-android-mail" data-tags=""></i>
      <i class="ion-android-drafts" data-tags=""></i>
      <i class="ion-android-send" data-tags=""></i>
      <i class="ion-android-archive" data-tags=""></i>
      <i class="ion-android-delete" data-tags=""></i>
      <i class="ion-android-attach" data-tags=""></i>
      <i class="ion-android-share" data-tags=""></i>
      <i class="ion-android-share-alt" data-tags=""></i>
      <i class="ion-android-bookmark" data-tags=""></i>
      <i class="ion-android-document" data-tags=""></i>
      <i class="ion-android-clipboard" data-tags=""></i>
      <i class="ion-android-list" data-tags=""></i>
      <i class="ion-android-folder-open" data-tags=""></i>
      <i class="ion-android-folder" data-tags=""></i>
      <i class="ion-android-print" data-tags=""></i>
      <i class="ion-android-open" data-tags=""></i>
      <i class="ion-android-exit" data-tags=""></i>
      <i class="ion-android-contract" data-tags=""></i>
      <i class="ion-android-expand" data-tags=""></i>
      <i class="ion-android-globe" data-tags=""></i>
      <i class="ion-android-chat" data-tags="talk, text"></i>
      <i class="ion-android-textsms" data-tags="talk, text"></i>
      <i class="ion-android-hangout" data-tags=""></i>
      <i class="ion-android-happy" data-tags=""></i>
      <i class="ion-android-sad" data-tags=""></i>
      <i class="ion-android-person" data-tags=""></i>
      <i class="ion-android-people" data-tags=""></i>
      <i class="ion-android-person-add" data-tags=""></i>
      <i class="ion-android-contact" data-tags=""></i>
      <i class="ion-android-contacts" data-tags=""></i>
      <i class="ion-android-playstore" data-tags=""></i>
      <i class="ion-android-lock" data-tags=""></i>
      <i class="ion-android-unlock" data-tags=""></i>
      <i class="ion-android-microphone" data-tags="recorder, speak, noise, music, sound"></i>
      <i class="ion-android-microphone-off" data-tags="recorder, speak, noise, music, sound, mute"></i>
      <i class="ion-android-notifications-none" data-tags=""></i>
      <i class="ion-android-notifications" data-tags=""></i>
      <i class="ion-android-notifications-off" data-tags=""></i>
      <i class="ion-android-volume-mute" data-tags=""></i>
      <i class="ion-android-volume-down" data-tags=""></i>
      <i class="ion-android-volume-up" data-tags=""></i>
      <i class="ion-android-volume-off" data-tags=""></i>
      <i class="ion-android-hand" data-tags="stop"></i>
      <i class="ion-android-desktop" data-tags=""></i>
      <i class="ion-android-laptop" data-tags=""></i>
      <i class="ion-android-phone-portrait" data-tags=""></i>
      <i class="ion-android-phone-landscape" data-tags=""></i>
      <i class="ion-android-bulb" data-tags=""></i>
      <i class="ion-android-sunny" data-tags=""></i>
      <i class="ion-android-alert" data-tags=""></i>
      <i class="ion-android-warning" data-tags=""></i>
      <i class="ion-social-twitter" data-tags="follow, post, share"></i>
      <i class="ion-social-twitter-outline" data-tags="follow, post, share"></i>
      <i class="ion-social-facebook" data-tags="like, post, share"></i>
      <i class="ion-social-facebook-outline" data-tags="like, post, share"></i>
      <i class="ion-social-googleplus" data-tags="follow, post, share"></i>
      <i class="ion-social-googleplus-outline" data-tags="follow, post, share"></i>
      <i class="ion-social-google" data-tags="follow, post, share"></i>
      <i class="ion-social-google-outline" data-tags="follow, post, share"></i>
      <i class="ion-social-dribbble" data-tags="design"></i>
      <i class="ion-social-dribbble-outline" data-tags="design"></i>
      <i class="ion-social-octocat" data-tags="code, github, fork, merge, clone"></i>
      <i class="ion-social-github" data-tags="code, fork, merge, clone"></i>
      <i class="ion-social-github-outline" data-tags="code, fork, merge, clone"></i>
      <i class="ion-social-instagram" data-tags="photo, camera, facebook"></i>
      <i class="ion-social-instagram-outline" data-tags="photo, camera, facebook"></i>
      <i class="ion-social-whatsapp" data-tags="text, sharing, private, facebook"></i>
      <i class="ion-social-whatsapp-outline" data-tags="text, sharing, private, facebook"></i>
      <i class="ion-social-snapchat" data-tags="photos, app"></i>
      <i class="ion-social-snapchat-outline" data-tags="photos, app"></i>
      <i class="ion-social-foursquare" data-tags="checkin"></i>
      <i class="ion-social-foursquare-outline" data-tags="checkin"></i>
      <i class="ion-social-pinterest" data-tags="social"></i>
      <i class="ion-social-pinterest-outline" data-tags="social"></i>
      <i class="ion-social-rss" data-tags="blogging"></i>
      <i class="ion-social-rss-outline" data-tags="blogging"></i>
      <i class="ion-social-tumblr" data-tags="blogging"></i>
      <i class="ion-social-tumblr-outline" data-tags="blogging"></i>
      <i class="ion-social-wordpress" data-tags="blogging"></i>
      <i class="ion-social-wordpress-outline" data-tags="blogging"></i>
      <i class="ion-social-reddit" data-tags="news, upvotes, karma"></i>
      <i class="ion-social-reddit-outline" data-tags="news, upvotes, karma"></i>
      <i class="ion-social-hackernews" data-tags="discuss, upvotes, karma"></i>
      <i class="ion-social-hackernews-outline" data-tags="discuss, upvotes, karma"></i>
      <i class="ion-social-designernews" data-tags="design, post"></i>
      <i class="ion-social-designernews-outline" data-tags="design, post"></i>
      <i class="ion-social-yahoo" data-tags=""></i>
      <i class="ion-social-yahoo-outline" data-tags=""></i>
      <i class="ion-social-buffer" data-tags="share"></i>
      <i class="ion-social-buffer-outline" data-tags="share"></i>
      <i class="ion-social-skype" data-tags="call"></i>
      <i class="ion-social-skype-outline" data-tags="call"></i>
      <i class="ion-social-linkedin" data-tags="connect"></i>
      <i class="ion-social-linkedin-outline" data-tags="connect"></i>
      <i class="ion-social-vimeo" data-tags="video, watch, share, view"></i>
      <i class="ion-social-vimeo-outline" data-tags="video, watch, share, view"></i>
      <i class="ion-social-twitch" data-tags="gaming, games, live, streaming, video, watch, share, view"></i>
      <i class="ion-social-twitch-outline" data-tags="gaming, games, live, streaming, video, watch, share, view"></i>
      <i class="ion-social-youtube" data-tags="video, watch, share, view"></i>
      <i class="ion-social-youtube-outline" data-tags="video, watch, share, view"></i>
      <i class="ion-social-dropbox" data-tags="upload"></i>
      <i class="ion-social-dropbox-outline" data-tags="upload"></i>
      <i class="ion-social-apple" data-tags="mac, mobile"></i>
      <i class="ion-social-apple-outline" data-tags="mac, mobile"></i>
      <i class="ion-social-android" data-tags="mobile"></i>
      <i class="ion-social-android-outline" data-tags="mobile"></i>
      <i class="ion-social-windows" data-tags="pc"></i>
      <i class="ion-social-windows-outline" data-tags="pc"></i>
      <i class="ion-social-html5" data-tags="code, html, css, js, developer"></i>
      <i class="ion-social-html5-outline" data-tags="code, html, css, js, developer"></i>
      <i class="ion-social-css3" data-tags="code, html, css, js, developer"></i>
      <i class="ion-social-css3-outline" data-tags="code, html, css, js, developer"></i>
      <i class="ion-social-javascript" data-tags="code, html, css, js, developer"></i>
      <i class="ion-social-javascript-outline" data-tags="code, html, css, js, developer"></i>
      <i class="ion-social-angular" data-tags="code, mobile, js, angularjs, ionic"></i>
      <i class="ion-social-angular-outline" data-tags="code, mobile, js, angularjs, ionic"></i>
      <i class="ion-social-nodejs" data-tags="code, js, javascript, developer"></i>
      <i class="ion-social-sass" data-tags="code, css"></i>
      <i class="ion-social-python" data-tags="code"></i>
      <i class="ion-social-chrome" data-tags="code, mobile, js, angularjs, ionic"></i>
      <i class="ion-social-chrome-outline" data-tags="code, mobile, js, angularjs, ionic"></i>
      <i class="ion-social-codepen" data-tags="testing, js, developer"></i>
      <i class="ion-social-codepen-outline" data-tags="testing, js, developer"></i>
      <i class="ion-social-markdown" data-tags="code, testing, text, developer"></i>
      <i class="ion-social-tux" data-tags="code, linux, opensource"></i>
      <i class="ion-social-freebsd-devil" data-tags="code, opensource, unix"></i>
      <i class="ion-social-usd" data-tags="currency, trade, money, cash"></i>
      <i class="ion-social-usd-outline" data-tags="currency, trade, money, cash"></i>
      <i class="ion-social-bitcoin" data-tags="currency, trade, money"></i>
      <i class="ion-social-bitcoin-outline" data-tags="currency, trade, money"></i>
      <i class="ion-social-yen" data-tags="currency, trade, money, japanese"></i>
      <i class="ion-social-yen-outline" data-tags="currency, trade, money, japanese"></i>
      <i class="ion-social-euro" data-tags="currency, trade, money, europe"></i>
      <i class="ion-social-euro-outline" data-tags="currency, trade, money, europe"></i>
</h1>