---
name: Cards can be added to the grid automatically (prop = columns)
notes: Adding them to the grid ensures they respond properly and also have the correct margins. Note the Drizzle styles are getting in the way in the demo.
links: 
  "The grid": /patterns/layouts/grid.html
labels:
  - approved
  - react
order: 6
previewClass: drizzle-u-rhythm bg-red
---
{{#embed "patterns.atoms.reactWrapper" root_id="reactCardGrid" appId="DemoCardGrid"}}
  {{#content "content"}}
    <div class="row">
      <Card title="Simple card" subtitle="Card subtitle" imageUrl="http://via.placeholder.com/600x300" background columns="6">
          <p>If you are a UK tax payer then all your top-ups and gifts will be boosted by signing the GiftAid delcalation</p>
          <Button small type="secondary" full={false}>Button</Button>
      </Card>
      <Card title="Simple card" subtitle="Card subtitle" colour="grey-dark" imageUrl="http://via.placeholder.com/600x300" background  columns="6">
          <p>If you are a UK tax payer then all your top-ups and gifts will be boosted by signing the GiftAid delcalation</p>
          <Button small full={false}>Button</Button>
      </Card>
    </div>
  {{/content}}
{{/embed}}