---
name: Spacial card with buttons
labels:
  - inprogress
order: 2
previewClass: drizzle-u-rhythm bg-red
hidden: true
---

    {{!-- <div class="card-w-btn-card">
        <div class="card-w-btn-main">
            <div><span class="card-w-btn-title">Natwest</span><span>First of the month</span></div>
            <div><span class="mono">****1234 00-11-22</span></div>
        </div>
        <div class="card-w-btn-action">
            <a href="" title="edit"><i class="ion-ios-create-outline"></i></a>
            <a href="" title="delete"><i class="ion-ios-trash"></i></a>
        </div>
    </div> --}}
    <div class="card-w-btn-card">
        <div class="card-w-btn-main">
            <h3>Natwest</h3>
            <p><span class="mono">****1234 00-11-22</span></p>
            <p class="h3 mb1"><span class="money">100</span></p>
            <p> First of the month</p>
        </div>
        <div class="card-w-btn-action">
            <a href="" title="edit"><i class="ion-edit"></i></a>
            <a href="" title="delete"><i class="ion-ios-trash"></i></a>
        </div>
    </div>
