---
name: Card
notes: This is the most basic card demo.  Cards can have an onClick handler to pick up any actions.
labels:
  - approved
  - react
order: 1
previewClass: drizzle-u-rhythm bg-red
---

{{#embed "patterns.atoms.reactWrapper" root_id="reactCard" appId="DemoCard"}}
  {{#content "content"}}
    <Card title="Simple card" subtitle="Card subtitle">
        <p>If you are a UK tax payer then all your top-ups and gifts will be boosted by signing the GiftAid delcalation</p>
        <Button small type="secondary" full={false}>Button</Button>
    </Card>
  {{/content}}
{{/embed}}