/*
	Helpers
*/

// Clearfix
.cf {
    clear: fix;
	.lt-ie8 & {
		clear: both;
	}
}

// Fade-out

.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

// Paddings and margins

@for $i from 1 through 20 {
    .mt#{$i} {
        margin-top: $gutter*$i !important;
    }
    .mb#{$i} {
        margin-bottom: $gutter*$i !important;
    }
    .mr#{$i} {
        margin-right: $gutter*$i !important;
    }
    .ml#{$i} {
        margin-left: $gutter*$i !important;
    }
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.no-bottom-margin {
  margin-bottom: 0;
}

.padding-tb {
	padding-top: $gutter !important;
	padding-bottom: $gutter !important;
}

.padding-r5 {
    padding-right: 5px;
}

// Completely remove from the flow and screen readers
.is-hidden {
    display: none !important;
    visibility: hidden !important;
}

// Completely remove from the flow but leave available to screen readers
.is-vishidden {
    @include visuallyhidden();
}

// Floats
.right {
	float: right;
	padding: 0 0 $gutter $gutter;
}

.right-search {
	float: right;
	padding: 0 0 $gutter 0;
}

.left {
	float: left;
	padding: 0 $gutter $gutter 0;
}

.float-right {
	float: right !important;
}

.float-right-children {
    > * {
        float: right !important;
    }
    .select,
    .input {
        max-width: 200px;
        margin-right: 5px;
    }
}

.float-left {
	float: left !important;
}

// Text-Align
.align-right,
.text-right {
	text-align: right;
}

.align-center,
.text-center {
    text-align: center;
    justify-content: center;
}
.align-left
.text-left {
	text-align: left;
}
.align-justify {
  text-align: justify;
}


.primary-gradient {
    //@include linear-gradient($primary,$peach,135deg)
    // background-image: linear-gradient(135deg, $primary 0%, $peach 100%);
    background-image: radial-gradient($peach 30%, $primary 100%);
    background-attachment: fixed;
    background-position: center top 80px;
}

.blue-green { // Experimental - needs refactoring
    $yellow: rgb(237, 253, 74);
    $green: #00ff0d;
    $blue: #211453;
    background-image: linear-gradient(135deg, $blue 50%, darken($blue, 8%) 100%);
    background-image: radial-gradient($blue, darken($blue, 7%));
    // background-image: linear-gradient(160deg, #1C1149 60%, #D773E5 0%); // funky
    // background-image: linear-gradient(160deg, #1C1149 60%, #120936 0%); // funky
    background-attachment: fixed;
    h1 {
        // color: $yellow;
    }
    h1, h2 {
        // color: $white;
    }
    header {
        background-color: rgba( darken($blue, 8%), 0.95);
        // opacity: 0.95;
        nav {
            background-color: darken($blue, 8%);
            // color: $prim;
            a {
                // color: $prim;
            }
        }
        .amount-item .money {
            // color: $yellow !important;
        }
        .user {
            // background-color: $yellow;
            &:after {
                background-color: red;
            }
        }
        .amount-item small {
            color: #FFF !important;
            opacity: 0.7;
        }
    }
    .bubble-slider-item {
        background-image: linear-gradient(135deg, $yellow 25%, $green 75%);
        // border: $green 15px solid;
        cursor: pointer;
        // box-shadow: 0px 0px 0px $yellow;
        // animation: glow 800ms ease-out infinite alternate;
        * {
             color: $white;
        }

        .bubble-slider-amount {
            span {
                color: $yellow !important;
            }
            color: $yellow !important;
        }

        &:hover,
        &.is-selected {
            transform: scale(1.05) translateY(-10px) translateZ(15px);
            box-shadow: none;
        }

        &:before {
            content: "";
            position: absolute;
            border-radius: 100%;
            // display: none;
            background-color: $blue !important;
            // background-image: linear-gradient(135deg, $blue 50%, darken($blue, 10%) 100%);
            background-image: none;
            width: 90%;
            height: 90%;
            z-index: -1;
        }

        &:nth-child(1) {
            background-image: linear-gradient(135deg, rgb(0, 255, 221) 25%, #0099ff 75%);
            .bubble-slider-amount {
                span {
                    color: rgb(0, 255, 221) !important;
                }
                color: rgb(0, 255, 221) !important;
            }
        }

        &:nth-child(3) {
            background-image: linear-gradient(135deg, #ffae00 25%, #ff00ff 75%);
            .bubble-slider-amount {
                span {
                    color: #ffae00 !important;
                }
                color: #ffae00 !important;
            }
        }

    }

    .btn {
        // background-color: $yellow !important;
        // color: $white;
    }
}

// REACT Animations and Transitions

.fade-enter {
    opacity: 0.01;
    transform: translateY(-25px);
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 500ms ease-out;
  }
  
  .fade-leave {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .fade-leave.fade-leave-active {
    opacity: 0.01;
    transform: translateY(-25px);
    transition: all 500ms ease-out;
  }

  .hidden {
      visibility: hidden;
      opacity: 0;
      transform: translateY(25px);
  }

  .border {
      border: 2px solid #FFF;
      padding: $gutter;
      border-radius: $gutter;
  }