/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

@mixin visuallyhidden {
    position: absolute; 
  	overflow: hidden; 
  	clip: rect(0 0 0 0); 
  	height: 0px; width: 0px; 
  	margin: -1px; padding: 0; border: 0;
}

/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
@mixin font-size( $decimal-size, $keyword: null ) {
  @if $keyword{ font-size: $keyword; }
  @else { font-size: $decimal-size * $base-font-multiplier * 16px;}
  font-size: $decimal-size * 1rem;
}

// @mixin icon($width, $height, $image) {
// 	background-image: url('#{$imageLocation}/icon-#{$image}@2x.png');
// 	background-image: url('#{$imageLocation}/icon-#{$image}.svg');
// 	width: $width;
// 	height: $height;
// 	display: inline-block;
// 	background-size: $width $height;
// 	background-repeat: no-repeat;
// 	background-position: center center;
// 	.no-backgroundsize & {
// 		background-image: url('#{$imageLocation}/icon-#{$image}.png');
// 	}
// };

@mixin icon($width, $height) {
	width: $width;
	height: $height;
	display: inline-block;
	background-size: $width $height;
	background-repeat: no-repeat;
	background-position: center center;
};

@mixin icon-image($image) {
	background-image: url('#{$imageLocation}/icon-#{$image}@2x.png');
	background-image: url('#{$imageLocation}/icon-#{$image}.svg');
	.no-backgroundsize & {
		background-image: url('#{$imageLocation}/icon-#{$image}.png');
	}
};

@mixin background-image($image) {
	background-image: url('#{$imageLocation}#{$image}@2x.png');
	background-image: url('#{$imageLocation}#{$image}.svg');
	.no-backgroundsize & {
		background-image: url('#{$imageLocation}#{$image}.png');
	}
};

@mixin button() {
	min-width: 100px;
	display: inline-block;
	border: none;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px;
	line-height: 1em;
	text-align: center;
	font-size: 17px;
	cursor: pointer;
	margin: 0 0 0 0;
	position: relative;
}

@mixin circle($s: $button) {
    display: block;
	width: $s - 3;
    height: $s - 3;
    line-height: $s - 3;
    font-weight: bold;
    color: $primary;
    border: 4px solid $primary;
    text-align: center;
    border-radius: 50% 50%;
    font-size: 14px;
    margin-bottom: $gutter;
	transition: background .3s ease-in-out, color .3s ease-in-out;
	background: $white;
	&:hover {
		color: $white;
		background: $primary;
	}
	.lt-ie8 & {
		i {
			height: $s - 3;
    		line-height: $s - 3;
		}
		
	}
}

// Linear Gradient

@mixin linear-gradient($from,$to,$angle) {
  background: $from;
  background: -moz-linear-gradient($angle, $from 0%, $to 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient($angle, $from 0%,$to 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient($angle, $from 0%,$to 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

// Used to @include a cursor within a pre-existing class
@mixin cursor($cursor-type) {
	cursor: $cursor-type;
}

// Used to generate cursor classes
@mixin cursor-class($cursor-type) {
	.#{$cursor-type}-cursor { cursor: $cursor-type; }
}
