/*
    Variables
*/

// Color by name
$red:                       #C1053F;
$red-lighter:               #CE0140;
$peach:                     #FF5757;
$pink-flashy:               #FF57EB;
$purple:                    #8F57FF;
$purple-light:              #9999CD;
$blue:                      #3399CC;
$green:                     #339966;
$green-cold:                #01AA99;
$yellow:                    #F5E82C;
$grey-charcoal:             #424242;
$grey-charcoal-darker:      #333333;

// Colors
$primary:                   $red;
$secondary:              	$grey-charcoal;
$tertiary:                  $green;
// $quaternary:                $purple;
// $quinary:                   $peach;
// $senary:                    $green;
// $septenary:                 $yellow;


// Neutral colors
$white:                     #fff;
$gray-lighter:              #F5F5F5;
$gray-light:                #D6D6D6;
$gray-light-2:              lighten($gray-light,7%);
$gray :                     #9B9B9B;
$gray-dark:                 #4A4A4A;
$grey-charcoal:             #424242;
$grey-charcoal-darker:      #333333;
$black:                     #000;

// Utility colors
$error:                     $red-lighter;
$valid:                     $green-cold;
$success:                   $green-cold;
$warning:                   $red-lighter;
$information:               $purple;

// Inline editing
$editing:                   lighten(#fff8b9,8%);

// Typography
$font:                      "URWGeometric-Regular", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-secondary:            "URWGeometric-ExtraLight", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-medium:               "URWGeometric-Medium", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-bold:                 "URWGeometric-SemiBold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;     

// font-family: 'URW Geometric SemiBold'
// font-family: 'URW Geometric Regular'
// font-family: 'URW Geometric Medium'
// font-family: 'URW Geometric ExtraLight'

// Border Radius

$radius:                    4px;

// Layout
$input:                     54px;
$imputSmall:                35px;
$button:                    40px;
$gutter:                    16px;

// Images
$imageLocation:             '../images/';

