---
name: Top block
notes: The top block is positioned at the top of the viewport.
labels:
  - approved
  - react
order: 2
previewClass: drizzle-u-rhythm bg-red hide
---


{{#embed "patterns.atoms.reactWrapper" root_id="reactLayoutTop" appId="DemoLayoutTop"}}
  {{#content "content"}}
    <Layout>
        <Top title="Title here">
            <h2>and here</h2>
        </Top>
    </Layout>
  {{/content}}
{{/embed}}