---
title: Colour option 05
notes: Modern, fresh and dynamic.
order: 3
layout: base
labels:
  - inprogress
  - theme
styles:
    - toolkit
bodyclass:
    - blue-green home
---

{{#embed "patterns.organisms.topbar.topbar"}}{{/embed}}
<main>
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1>Hello Ben</h1>
                 <h2>Welcome back to your Stewardship Giving Account</h2>
            {{/content}}
        {{/embed}}
        {{#embed "patterns.organisms.home-main-bubble.home-main-bubble"}}{{/embed}}
    </div>
</main>
<a href="#cards" class="scroll-down"><i class="ion-ios-arrow-thin-down"></i></a>
<div class="container cards" id="cards">
    <div class="row mb3">
        <div class="col-sm-12">
            <h2 class="h1 text-center">Features, insights and actions</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">{{#embed "patterns.molecules.card.card-img"}}{{/embed}}</div>
        <div class="col-lg-4 col-md-6">{{#embed "patterns.molecules.card.card-img"}}{{/embed}}</div>
        <div class="col-lg-4 col-md-6">{{#embed "patterns.molecules.card.card"}}{{/embed}}</div>
    </div>
</div>

<script src="https://flickity.metafizzy.co/flickity.pkgd.js"></script>
<script src="../assets/toolkit/scripts/toolkit.js"></script>