---
title: Top-up - No bank account
layout: base
labels:
  - inprogress
  - top-up
styles:
  - toolkit
bodyclass:
    - primary-gradient
---

{{#embed "patterns.organisms.topbar.topbar"}}
{{/embed}}
<main>
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1>Top-up your giving account</h1>
                 <h2>to start giving to all your favourite causes</h2>
            {{/content}}
        {{/embed}}
        <div class="middle">
            <div class="col-md-6">
                {{#embed "patterns.molecules.card.card" class="card-white-outline mb2" button-class="btn-white"}}
                    {{#content "content"}}
                    <p class="text-center">Let's start by linking your bank account with your Stewardship account. This makes it easier to top-up and give</p>
                    <button class="btn btn-full btn-white">Link your bank account</button>
                    {{!-- <div class="toggle-and-label">
                        <label for="dont-ask">Don't ask me again</label>
                        <div class="toggle-and-checkbox">
                            <input type="checkbox" name="dont-ask" id="dont-ask">
                            <div class="toggle">
                                <div class="toggle-ball"></div>
                            </div>
                        </div>
                    </div> --}}
                    <a href="#" title="Don't ask me again" class="dont-ask">Don't ask me again <i class="ion-ios-close-empty"></i></a>
                    {{/content}}
                {{/embed}}
                <div class="mt2"><a href="#"><img class="gift-aid-logo" src="../../assets/toolkit/images/Giftaid.png" alt="Gift Aid"></a></div>
                <div class="toggle-and-label mb2">
                    <label for="tax">I am a UK tax payer, please claim GiftAid on my behalf.</label>
                    <div class="toggle-and-checkbox">
                        <input type="checkbox" name="tax" id="tax">
                        <div class="toggle">
                            <div class="toggle-ball"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="col-md-4">
                <div class="buttons-group">
                    <button class="btn btn-full"><i class="ion-card"></i> No thanks, just use my card</button>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="gift-overlay">
    <button class="close-overlay" title="Close"><i class="ion-ios-close-empty"></i></button>
    <div class="overlay-content">
        <h2>Choose Gift Aid to boost your gift up to 25%</h2>
        <div class="row">
            <div class="buttons-group col-md-8 mb2" style="margin: auto">
                <a href="" class="btn yes"><i class="ion-ios-checkmark-outline"></i> Yes, claim Gift Aid*</a>
                <a href="" class="btn no"><i class="ion-ios-close-outline"></i> No, don't claim Gift Aid*</a>
            </div>
        </div>
        <p>* I want to Gift Aid this donation and any donations I make in the future or have made in the past 4 years to Stewardship (full name Stewardship Services (UKET) Limited). I am a UK taxpayer and understand that if I pay less Income Tax and /or Capital Gains Tax than the amount of Gift Aid claimed on all my donations in that tax year it is my responsibility to pay any difference.</p>
    </div>
</div>
<script src="../assets/toolkit/scripts/toolkit.js"></script>
