---
title: Top-up - Choose amount - change funding source
layout: base
labels:
  - inprogress
  - top-up
styles:
  - toolkit
bodyclass:
    - primary-gradient top-up-screen
---

{{#embed "patterns.organisms.topbar.topbar"}}
{{/embed}}
<main>
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1>Top-up your account</h1>
                 <h2>to start giving to all your favourite causes</h2>
            {{/content}}
        {{/embed}}
        {{#embed "patterns.organisms.top-up-box.top-up-box"}}{{/embed}}
        <div class="bottom top-up-buttons">
            <div class="col-md-4">
                <button class="btn btn-full btn-negative switch-funding">Change funding source</button>
                <button class="btn btn-full">Top-up using your bank account</button>
            </div>
        </div>
    </div>
</main>
<div class="pay-method-overlay">
    <button class="close-overlay"><i class="ion-ios-close-empty"></i></button>
    <div class="pay-method-overlay-content">
        <h2 class="h1">How would you like to fund your top-up?</h2>
        <div class="buttons-group buttons-group-row col-sm-6">
            <button class="btn">Card</button>
            <button class="btn">Bank account</button>
        </div>
    </div>
</div>
<script src="../assets/toolkit/scripts/toolkit.js"></script>
