---
title: Give - Search for a charity
layout: base
labels:
  - inprogress
  - give
styles:
    - toolkit
bodyclass:
    - primary-gradient charity-search
---

{{#embed "patterns.organisms.topbar.topbar"}}{{/embed}}
<main>
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1>Who would you like to give to?</h1>
                 {{#embed "patterns.organisms.charity-search.charity-search"}}{{/embed}}
            {{/content}}
        {{/embed}}
        <div class="middle">
            {{#embed "patterns.organisms.charity-search.charity-favorites"}}{{/embed}}
        </div>
    </div>
</main>
{{#embed "patterns.organisms.charity-search.charity-overlay"}}{{/embed}}
<script src="https://flickity.metafizzy.co/flickity.pkgd.js"></script>
<script src="../assets/toolkit/scripts/toolkit.js"></script>