---
title: Bank account - Enter details
layout: base
labels:
  - inprogress
  - bank
styles:
  - toolkit
bodyclass:
    - primary-gradient
---

{{#embed "patterns.organisms.topbar.topbar"}}
{{/embed}}
<main>
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1>Finally... Enter your bank details and you are done</h1>
            {{/content}}
        {{/embed}}
        <div class="middle">
            <div class="col-md-6">
                <form action="">
                    <div class="form-el">
                        <label for="">Bank account holders name</label>
                        <div class="input"><input class="small" type="text"></div>
                    </div>
                    <div class="form-el">
                        <label for="">Bank account</label>
                        <div class="input"><input class="small" type="number" maxlength="8" inputmode="numeric"></div>
                    </div>
                    <div class="form-el">
                        <label for="">Sort code</label>
                        <div class="input"><input class="small" type="number" maxlength="6" inputmode="numeric"></div>
                    </div>
                    <div class="checkbox-group">
                        <div class="checkbox">
                            <input type="checkbox" id="bankname">
                            <label for="bankname">I confirm the bank account is in my name</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="authorise">
                            <label for="authorise">I confirm I am the only signatory required to authorise</label>
                        </div>
                    </div>
                    <div class="form-el">
                        <label for="">Prefered day of the month that regular top-ups / gifts should be taken from this account</label>
                        <div class="select">
                            <select name="" id="">
                                <option value="">1st of the month</option>
                                <option value="">2nd of the month</option>
                                <option value="">3rd of the month</option>
                                <option value="">4th of the month</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bottom justify-content-center">
            <div class="col-md-4">
                <button class="btn btn-full open-popup">Link my bank account</button>
            </div>
        </div>
    </div>
</main>
{{#embed "patterns.organisms.modal.popup"}}{{/embed}}
<script src="https://flickity.metafizzy.co/flickity.pkgd.js"></script>
<script src="../assets/toolkit/scripts/toolkit.js"></script>