---
title: Gift Aid
layout: base
labels:
  - inprogress
  - giftaid
styles:
  - toolkit
bodyclass:
    - primary-gradient
---

{{#embed "patterns.organisms.topbar.topbar"}}
{{/embed}}
<main>
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1>If you are a UK tax payer then you can increase your giving potential by signing the GiftAid declaration below.</h1>
            {{/content}}
        {{/embed}}
        <div class="middle">
            <div class="col-md-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis viverra risus sed rhoncus. Nunc tempor mollis est vel sodales. Suspendisse sit amet enim ut metus molestie pharetra eget vel tellus. Nulla vitae lorem enim. Praesent fermentum, sapien sit amet commodo consequat, dui enim accumsan nibh, et pretium risus erat at eros. Mauris eu nunc lorem. Fusce tempor iaculis placerat. Nunc tristique tristique volutpat. Maecenas facilisis, sapien ac sodales consequat, lorem ipsum condimentum nisl, luctus tristique purus nibh sed dui. Phasellus in mauris lobortis, lacinia odio nec, finibus metus. Mauris non sem in lorem interdum pellentesque et ac turpis.</p>

                <p>Donec dictum tincidunt est vel porttitor. Morbi sed ante sit amet odio finibus vehicula vel ut lacus. Vivamus sed dolor nec tellus interdum egestas. Donec sed augue libero. Mauris et dui arcu. Donec imperdiet facilisis eros, in pellentesque purus. Quisque imperdiet nibh leo, non eleifend arcu commodo a. Donec neque tellus, efficitur at porttitor accumsan, pellentesque et metus. Quisque imperdiet mattis ex in ornare. Fusce molestie finibus ante et blandit. Curabitur a gravida dui. Morbi in augue ut justo elementum rutrum non a purus.</p>

                <p>In iaculis auctor pretium. Maecenas facilisis mi sagittis mi fringilla efficitur. Sed et metus nec ex sodales euismod. Praesent vitae quam quis erat blandit convallis vel at leo. Duis interdum ex erat, ac porttitor est porta vitae. Vivamus ut est ex. Cras ut ullamcorper dui. Sed nulla metus, aliquam ut est eu, vulputate pulvinar elit. Pellentesque diam turpis, venenatis sed erat at, accumsan malesuada quam. Sed dui odio, scelerisque nec dignissim a, euismod ut felis. Quisque sagittis vitae dolor eu mattis. Aenean risus mi, ultricies non mauris eu, tristique tempus sem. Sed ullamcorper ipsum a commodo pulvinar. Donec ante risus, venenatis eget auctor nec, feugiat ut arcu. Nulla dolor urna, egestas vel tempus finibus, sodales eu neque.</p>

                <p>Mauris non ante bibendum, egestas ex sit amet, rhoncus ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris elementum nec orci sed rutrum. Aliquam feugiat lacus est, vitae gravida ligula porta ac. Quisque rhoncus mi non sagittis facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent sed justo libero.</p>

                <p>Curabitur at urna non sem tempor ultricies congue finibus turpis. Phasellus dolor sapien, aliquam nec egestas quis, porta ac elit. Duis vitae dui maximus, accumsan nulla nec, suscipit purus. Nullam faucibus luctus eros. Nulla tristique ante nec vestibulum ultrices. Aliquam ultricies ante libero, id egestas massa iaculis eu. Aenean non interdum sapien.</p>
            </div>
        </div>
        <div class="bottom">
            <div class="col-md-4">
                <div class="checkbox text-center">
                    <input type="checkbox" id="confirm">
                    <label for="confirm">I confirm I am a UK tax payer</label>
                </div>
                <button class="btn btn-full">Confirm monthly top-up</button>
            </div>
        </div>
    </div>
</main>

<script src="https://flickity.metafizzy.co/flickity.pkgd.js"></script>
<script src="../assets/toolkit/scripts/toolkit.js"></script>