---
title: Manage monthly top-ups
layout: base
labels:
  - inprogress
  - manage
styles:
  - toolkit
bodyclass:
    - primary-gradient
---

{{#embed "patterns.organisms.topbar.topbar"}}
{{/embed}}
<main>
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1>Ben's monthly top-up</h1>
                 <h2>You currently top-up <span class="money">100</span> per month which is converted to <span class="money">123</span> with GiftAid less our fee</h2>
            {{/content}}
        {{/embed}}
        <div class="middle">
            <div class="col-md-5">
                {{#embed "patterns.molecules.card.card-w-btn"}}{{/embed}}
            </div>
        </div>
    </div>
</main>

<script src="../assets/toolkit/scripts/toolkit.js"></script>
