---
title: Manage monthly top-ups
layout: base
labels:
  - inprogress
  - manage
hidden: true
styles:
  - toolkit
bodyclass:
    - primary-gradient
---

{{#embed "patterns.organisms.topbar.topbar"}}
{{/embed}}
<main>
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1>Ben's monthly top-up</h1>
                 <h2>You currently top-up <span class="money">100</span> per month which is converted to <span class="money">123</span> with GiftAid less our fee</h2>
            {{/content}}
        {{/embed}}
        <div class="middle">
            <div class="col-md-5">
                {{#embed "patterns.molecules.card.card" class="card-white-outline" button-class="btn-white"}}
                    {{#content "content"}}
                    <p class="text-center">Natwest</p>
                    <p class="text-center mono">****1234 00-11-22</p>
                    <p class="text-center">1st of every month</p>
                    <div class="buttons-group">
                        <button class="btn btn-full btn-white"><i class="ion-edit"></i> Edit</button>
                        <button class="btn btn-full btn-negative"><i class="ion-ios-trash"></i> Remove</button>
                    </div>
                    {{/content}}
                {{/embed}}
                {{#embed "patterns.molecules.card.card-w-btn"}}{{/embed}}
            </div>
        </div>
        <div class="bottom">
            <div class="col-md-4"><button class="btn btn-full">Adjust how much I top-up</button></div>
        </div>
    </div>
</main>

<script src="../assets/toolkit/scripts/toolkit.js"></script>
