---
title: Manage regular giving
layout: base
labels:
  - inprogress
  - manage
styles:
  - toolkit
bodyclass:
    - primary-gradient
---

{{#embed "patterns.organisms.topbar.topbar"}}
{{/embed}}
<main>
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1>Your regular giving (<span class="money">120</span>)</h1>
                 <h2>which will be made on the 1st of every month</h2>
                 <p>On the date set for your giving, funds will leave your Stewardship giving account for the recipients you wish to support.  These amounts will be paid to the recipient at a frequency, either weekly or monthly, and on a date of their choosing. Recipients can ask us to pay amounts to them sooner, whenever they wish.</p>
            {{/content}}
        {{/embed}}
        <div class="middle justify-content-center">
            <div class="col-md-6">
                <div class="regular-gifts">
                    <h3>Funding source: linked bank account</h3>
                    <ul class="regular-gifts-list">
                        <li>
                            <div class="regular-gifts-list-main">
                                <div><span class="charity-name">Charity name 1</span><span>£ 20.00</span></div>
                                <div><span># 123456789</span><a href="" class="add-to-fav" title="Add to favorite"></a></div>
                            </div>
                            <div class="regular-gifts-list-action">
                                <a href="" title="edit"><i class="ion-edit"></i></a>
                                <a href="" title="delete"><i class="ion-ios-trash"></i></a>
                            </div>
                        </li>
                        <li>
                            <div class="regular-gifts-list-main">
                                <div><span class="charity-name">Charity name 1</span><span>£ 20.00</span></div>
                                <div><span># 123456789</span><a href="" class="add-to-fav" title="Add to favorite"></a></div>
                            </div>
                            <div class="regular-gifts-list-action">
                                <a href="" title="edit"><i class="ion-edit"></i></a>
                                <a href="" title="delete"><i class="ion-ios-trash"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="regular-gifts">
                    <h3>Funding source: balance</h3>
                    <ul class="regular-gifts-list">
                        <li>
                            <div class="regular-gifts-list-main">
                                <div><span class="charity-name">Charity name 1</span><span>£ 20.00</span></div>
                                <div><span># 123456789</span><a href="" class="add-to-fav" title="Add to favorite"></a></div>
                            </div>
                            <div class="regular-gifts-list-action">
                                <a href="" title="edit"><i class="ion-edit"></i></a>
                                <a href="" title="delete"><i class="ion-ios-trash"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom justify-content-center">
            <div class="col-md-4">
                <button class="btn btn-full">New regular gift</button>
            </div>
        </div>
    </div>
</main>

<script src="https://flickity.metafizzy.co/flickity.pkgd.js"></script>
<script src="../assets/toolkit/scripts/toolkit.js"></script>