---
title: Manage regular giving - Adjust gift
layout: base
labels:
  - inprogress
  - manage
styles:
  - toolkit
bodyclass:
    - primary-gradient
---

{{#embed "patterns.organisms.topbar.topbar"}}
{{/embed}}
<main>
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1>Adjust your regular gift to Charity name</h1>
                 <h2>which occurs on the 1st of every month... Nice</h2>
            {{/content}}
        {{/embed}}
        <div class="middle">
            <div class="col-md-5">
                <div class="top-up-amount mb2">
                    <input type="number" pattern="[0-9]*" inputmode="numeric">
                </div>
                <div class="form-el">
                    <textarea name="" id="" placeholder="Reference"></textarea>
                </div>
                <div class="form-el">
                    <div class="select">
                        <select name="" id="">
                            <option value="">Monthly</option>
                            <option value="">Quaterly</option>
                            <option value="">6 Monthly</option>
                            <option value="">Annually</option>
                        </select>
                    </div>
                </div>
                {{!-- <div class="toggle-and-label">
                    <label for="anonym">Hide my name and make anonymous</label>
                    <div class="toggle-and-checkbox">
                        <input type="checkbox" name="anonym" id="anonym">
                        <div class="toggle">
                            <div class="toggle-ball"></div>
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>
        <div class="bottom">
            <div class="col-md-4"><button class="btn btn-full">Confirm adjustment to gift</button></div>
        </div>
    </div>
</main>

<script src="../assets/toolkit/scripts/toolkit.js"></script>
