---
title: Manage - Adjust Top Up
layout: base
labels:
  - inprogress
  - manage
styles:
  - toolkit
bodyclass:
    - primary-gradient
---

{{#embed "patterns.organisms.topbar.topbar"}}
{{/embed}}
<main>
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1>Adjust your regular top up of <span class="money">100</span></h1>
                 <h2 class="h3">You are currently giving <span class="money">120</span> regularly to charities so the shortfall of <span class="money">22.40</span> will be funded from your balance (currently <span class="money">30</span>)</h3>
            {{/content}}
        {{/embed}}
        {{#embed "patterns.organisms.top-up-box.top-up-box" value="150"}}{{/embed}}
        <div class="bottom">
            <div class="col-md-4">
                <button class="btn btn-full btn-negative">Cancel</button>
                <button class="btn btn-full">Confirm change to top-up</button>
            </div>
        </div>
    </div>
</main>

<script src="../assets/toolkit/scripts/toolkit.js"></script>
