---
title: Recent transactions
notes: Recent transactions
layout:  base
labels:
  - inprogress
  - prototype
styles:
  - toolkit
bodyclass:
    - primary-gradient
---

{{#embed "patterns.organisms.topbar.topbar"}}
{{/embed}}
<main>
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1>Recent transactions</h1>
            {{/content}}
        {{/embed}}
        <div class="middle justify-content-center">
            <div class="col-md-6">
                {{#embed "patterns.molecules.table.table"}}
                {{/embed}}
            </div>
        </div>
        <div class="bottom justify-content-center">
            <div class="col-md-4">
                <button class="btn btn-full">Download detailed statement</button>
            </div>
        </div>
    </div>
</main>

<script src="https://flickity.metafizzy.co/flickity.pkgd.js"></script>
<script src="../assets/toolkit/scripts/toolkit.js"></script>