---
title: Settings
notes: Settings
layout:  base
labels:
  - inprogress
  - prototype
styles:
  - toolkit
bodyclass:
    - primary-gradient
---

{{#embed "patterns.organisms.topbar.topbar"}}
{{/embed}}
<main>
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1>Settings for Benjamin Edge</h1>
            {{/content}}
        {{/embed}}
        <div class="middle">
            <div class="col-md-6">
                <div class="mb3">
                    <h2 class="text-center">Postal address</h2>
                    <div class="form-el">
                        <label for="">Address line 1</label>
                        <div class="input"><input type="text" class="small"></div>
                    </div>
                    <div class="form-el">
                        <label for="">Address line 2</label>
                        <div class="input"><input class="small" type="text"></div>
                    </div>  
                    <div class="form-el">
                        <label for="">Address line 3</label>
                        <div class="input"><input class="small" type="text"></div>
                    </div>
                    <div class="form-el">
                        <label for="">Town/city</label>
                        <div class="input"><input class="small" type="text"></div>
                    </div>
                    <div class="form-el">
                        <label for="">Postcode</label>
                        <div class="input"><input class="small" type="text"></div>
                    </div>
                    <div class="form-el">
                        <label for="">Country</label>
                        <div class="select">
                            <select>
                                <option selected disabled>Country</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="text-center">Contact number</h2>
                    <div class="form-el">
                        <label for="">Daytime phone</label>
                        <div class="input"><input class="small" type="text"></div>
                    </div>
                    <div class="form-el">
                        <label for="">Mobile phone</label>
                        <div class="input"><input class="small" type="text"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="bottom">
            <div class="col-md-4">
                <button class="btn btn-full">Update details</button>
            </div>
        </div>
    </div>
</main>

<script src="https://flickity.metafizzy.co/flickity.pkgd.js"></script>
<script src="../assets/toolkit/scripts/toolkit.js"></script>