---
title: Feature back page
layout: base
labels:
  - inprogress
  - manage
styles:
  - toolkit
bodyclass:
    - primary-gradient content-page 
---

{{#embed "patterns.organisms.topbar.topbar"}}
{{/embed}}
<main class="">
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1 class="text-center">Title of feature</h1>
                 <img src="https://images.unsplash.com/photo-1467541473380-93479a5a3ffa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dc956f367a9a1b6be1633bc529098107&auto=format&fit=crop&w=823&q=80" alt="">
            {{/content}}
        {{/embed}}
        <div class="middle">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est omnis expedita dicta nam repellendus, saepe deserunt qui unde voluptatem iure ipsam porro quia pariatur adipisci, harum tenetur iusto mollitia dolore?</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis quasi voluptatum doloremque a totam quod ab suscipit itaque, ipsa, perferendis eius atque corporis ipsum, autem eos deserunt veniam id velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dicta non rerum. Quisquam sit possimus non atque maiores rem dolorem obcaecati totam cupiditate ducimus! Iste, minus. Vitae voluptatem illo natus.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit similique ipsa laudantium maiores rerum dolore exercitationem beatae quibusdam, reiciendis vel corrupti, labore culpa quam tempora deserunt nesciunt nihil sunt? Pariatur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptate, iusto perferendis, fugiat, consequuntur quibusdam corrupti vero voluptas consectetur unde nihil doloribus recusandae debitis commodi error repellendus. Ea, expedita laborum.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga nisi ipsum porro animi, voluptatem possimus sunt repudiandae excepturi quia, dicta eveniet ad. Non quasi fugiat est? Enim ratione nesciunt aperiam.</p>
            </div>
        </div>
    </div>
</main>

<script src="../assets/toolkit/scripts/toolkit.js"></script>