---
title: Report
notes: Report
layout:  base
labels:
  - inprogress
  - prototype
styles:
  - toolkit
bodyclass:
    - primary-gradient report
---

{{#embed "patterns.organisms.topbar.topbar"}}
{{/embed}}
<main>
    <div class="wrapper">
        {{#embed "patterns.organisms.top"}}
            {{#content "content"}}
                 <h1>Your giving - a summary of the last 12 months</h1>
                 <h2>Hover over the circles to explore your last year of giving</h2>
            {{/content}}
        {{/embed}}
        <div class="middle">
            {{#embed "patterns.organisms.charts.charts"}}{{/embed}}
        </div>
        <div class="bottom">
            <div class="col-md-4">
                <button class="btn btn-full"><i class="ion-ios-download-outline"></i> Download annual giving statement</button>
            </div>
        </div>
    </div>
</main>

<script src="https://flickity.metafizzy.co/flickity.pkgd.js"></script>
<script src="../assets/toolkit/scripts/toolkit.js"></script>