---
title: Prebuilt Views
notes: |
  A collection of mockups, demonstrations, proofs-of-concept or
  anything else that might not be production-ready.
---

<h1>{{title}}</h1>

<p>The following key views demonstrate how to build up the components to create the various key pages within the application.</p>

{{#each (pages "demos" ignore="index")}}
  {{> drizzle.page-item }}
{{/each}}
