---
name: Money Elements
notes: We have a class that should be applied to all values representing money to keep the stylyibng consistent. If the value is an integer then it should be displayed as an integer, if not then it should be displayed with 2 decimal places.
sourceless: false
labels:
  - approved
  - react
previewClass: drizzle-u-rhythm bg-red 
---
{{#embed "patterns.atoms.reactWrapper" root_id="react-money" appId="DemoMoney"}}
  {{#content "content"}}
    <Money elementType="h1">10000.123121</Money>
    <h2><Money>00001</Money></h2>
    <h2><Money>1123</Money></h2>
    <p><Money>12345679.123121</Money></p>
  {{/content}}
{{/embed}}