---
name: Paragraph Elements
notes: |
  These are some paragraph elements.
labels:
  - approved
previewClass: drizzle-u-rhythm bg-red
---
<p class="center">Simple to align text to the center</p>
<p>
  {{data "specimens.paragraph"}}
</p>
<p>
  {{data "specimens.paragraph"}}
</p>