---
name: Phsudo Sizing
notes: |
  Any text element can adopt the size of another using the class="element-name" model.
links:
  MDN: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements
labels:
  - approved
previewClass: drizzle-u-rhythm bg-red 
---

<p class="h1">
  This is the size and style of a H1
</p>
<p class="h2">This is the size and style of a H2</p>
<p class="h3">This is the size and style of a H3</p>
<p class="h4">This is the size and style of a H4</p>
<p class="h5">This is the size and style of a H5</p>