---
name: Truncate text
notes: |
  Long text can be truncated easily.
labels:
  - approved
previewClass: drizzle-u-rhythm bg-red 
---

<div style="width: 250px">
  <h1 class="truncate">Long text can be truncated easily</h1>
  <p class="truncate">Long text can be truncate easily by adding the truncate class</p>
</div>