---
name: Charity Overlay
labels:
  - inprogress
previewClass: drizzle-u-rhythm bg-red
---

<div class="charity-overlay">
    <button class="close-overlay"><i class="ion-ios-close-empty"></i></button>
    <div class="charity-overlay-content">
        <div class="charity-overlay-header">
            <div class="charity-overlay-top-left">
                <div class="charity-overlay-img">
                    <img src="http://1000logos.net/wp-content/uploads/2017/01/Greenpeace-Logo-History.jpg" alt="" class="">
                </div>
                <div class="charity-overlay-info">
                    <h2 class="charity-overlay-name">Super very really long Charity name</h2>
                    <a href="" class="charity-overlay-link">www.charity.com</a>
                    <span class="charity-overlay-number">Charity number: 123456789</span>
                </div>
            </div>
            <div class="charity-overlay-top-right">
                <a href="#" class="charity-overlay-fav add-to-fav" title="Add to favorite"><i class="ion-ios-heart-outline"></i></a>
                <div class="charity-overlay-project">
                    <h3>Select a project</h3>
                    <div class="select">
                        <select name="" id="">
                            <option value="">Project 1</option>
                            <option value="">Project 2</option>
                            <option value="">Project 3</option>
                            <option value="">Project 4</option>
                            <option value="">Project 5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="charity-overlay-img">
            <img src="http://4687-presscdn-26-81.pagely.netdna-cdn.com/wp-content/uploads/2014/09/charitywater_header.jpg" alt="">
        </div> -->
        <div class="charity-overlay-about">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Deleniti exercitationem pariatur vitae doloremque repellendus sint illo,
            quod tenetur libero. Hic sit mollitia sed fuga nam dolorum nobis sapiente quae ipsum!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Deleniti exercitationem pariatur vitae doloremque repellendus sint illo,
            quod tenetur libero. Hic sit mollitia sed fuga nam dolorum nobis sapiente quae ipsum!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Deleniti exercitationem pariatur vitae doloremque repellendus sint illo,
            quod tenetur libero. Hic sit mollitia sed fuga nam dolorum nobis sapiente quae ipsum!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Deleniti exercitationem pariatur vitae doloremque repellendus sint illo,
            quod tenetur libero. Hic sit mollitia sed fuga nam dolorum nobis sapiente quae ipsum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Deleniti exercitationem pariatur vitae doloremque repellendus sint illo,
            quod tenetur libero. Hic sit mollitia sed fuga nam dolorum nobis sapiente quae ipsum!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Deleniti exercitationem pariatur vitae doloremque repellendus sint illo,
            quod tenetur libero. Hic sit mollitia sed fuga nam dolorum nobis sapiente quae ipsum!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Deleniti exercitationem pariatur vitae doloremque repellendus sint illo,
            quod tenetur libero. Hic sit mollitia sed fuga nam dolorum nobis sapiente quae ipsum!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Deleniti exercitationem pariatur vitae doloremque repellendus sint illo,
            quod tenetur libero. Hic sit mollitia sed fuga nam dolorum nobis sapiente quae ipsum!</p>
        </div>
        <div class="charity-overlay-cta buttons-group">
            <button class="btn btn-default">give one-off</button>
            <button class="btn btn-default">give regularly</button>
        </div>
    </div>
</div>