---
name: Charity favourites
labels:
  - approved
  - react
previewClass: drizzle-u-rhythm bg-red
hidden: true
---
<div class="charity-fav">
    <h2 class="charity-fav-title">Ben's favorite charities</h2>
    <ul class="charity-fav-list">
        <li>
            <div><a href="#" class="charity-name">Charity name 1</a><a href="#" class="remove-from-fav" title="Remove from favorites"><i class="ion-ios-heart"></i></a></div>
            <div><a href="#" alt="">www.charity.org.uk</a> <span># 123456789</span></div>
        </li>
        <li>
            <div><a href="#" class="charity-name">Charity name 2</a><a href="#" class="remove-from-fav" title="Remove from favorites"><i class="ion-ios-heart"></i></a></div>
            <div><a href="#" alt="">www.charity.org.uk</a> <span># 123456789</span></div>
        </li>
        <li>
            <div><a href="#" class="charity-name">Charity name 3</a><a href="#" class="remove-from-fav" title="Remove from favorites"><i class="ion-ios-heart"></i></a></div>
            <div><a href="#" alt="">www.charity.org.uk</a> <span># 123456789</span></div>
        </li>
        <li>
            <div><a href="#" class="charity-name">Charity name 4</a><a href="#" class="remove-from-fav" title="Remove from favorites"><i class="ion-ios-heart"></i></a></div>
            <div><a href="#" alt="">www.charity.org.uk</a> <span># 123456789</span></div>
        </li>
    </ul>
</div>
