---
name: Transaction - Top-up
labels:
  - approved
previewClass: drizzle-u-rhythm bg-red
hidden: false
date: 29th January 2018
title: One-off top-up
amount: 10
amount-added: 2.30
---

<div class="transaction transaction-in">
    <div class="transaction-date">{{date}}</div>
    <div class="transaction-details">
        <h2 class="h3 transaction-title"><i class="ion-card"></i> {{title}}</h2>
        <p><span class="money">{{amount}}</span> + <span class="money">{{amount-added}}</span> (GiftAid)</p>
    </div>
</div>