---
name: Amount
labels:
  - inprogress
previewClass: drizzle-u-rhythm bg-red
hidden: true
---
<div class="amount">
    <a class="amount-item" href="#">
        <small>Monthly top-ups</small>
        <p class="money">200.00</p>
    </a>
    <a class="amount-item amount-balance" href="#">
        <small>Balance</small>
        <p class="money">0.00</p>
    </a>
    <a class="amount-item" href="#">
        <small>Regular gifts</small>
        <p class="money">246.00</p>
    </a>
</div>