---
name: Nav
labels:
  - inprogress
previewClass: drizzle-u-rhythm bg-red 
hidden: true
---
<nav class="main-nav">
    <ul>
        <li><a href="#" title="Dashboard">Dashboard</a></li>
        <li><a href="#" title="Regular Gifts">My giving</a></li>
    </ul>
</nav>