/*------------------------------------*\
    $TABLE OF CONTENTS 
    based generally on Harry Roberts excellent CSS Guidelines https://github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * VARIABLES..............................Declarations of Sass variables 
 * .....Colors
 * .....Typography
 * .....Layout
 * .....Defaults
 * .....Breakpoints
 * MIXINS.................................Sass mixins 
 * RESET..................................Set reset defaults
 */
/*
    Variables
*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
/* Layout
---------------------------------------------------------------------------- */
/* Colors
---------------------------------------------------------------------------- */
.sg-colors {
  display: inline-block;
  clear: both;
  margin-bottom: 16px;
}

.sg-colors li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  zoom: 1;
  *display: inline;
}

.sg-swatch {
  display: block;
  width: 130px;
  height: 130px;
  margin-bottom: 5px;
}

.sg-swatch-primary {
  background: #C1053F;
}

.sg-swatch-secondary {
  background: #424242;
}

.sg-swatch-tertiary {
  background: #3399CC;
}

.sg-swatch-quinary {
  background: #FF5757;
}

.sg-swatch-quaternary {
  background: #8F57FF;
}

.sg-swatch-septenary {
  background: #F5E82C;
}

.sg-swatch-quaternary {
  background: #8F57FF;
}

.sg-swatch-senary {
  background: #339966;
}

.sg-swatch-gray-lighter {
  background: #F5F5F5;
}

.sg-swatch-gray-light {
  background: #D6D6D6;
}

.sg-swatch-gray {
  background: #9B9B9B;
}

.sg-swatch-gray-dark {
  background: #4A4A4A;
}

.sg-swatch-black {
  background: #000;
}

.sg-swatch-white {
  background: #fff;
  border: 1px solid #D6D6D6;
}

.sg-label {
  text-align: center;
}

.sg-icon-spacer {
  position: relative;
  display: inline-block;
  width: 2em !important;
  height: 2em !important;
  line-height: 2em !important;
  vertical-align: middle;
  text-align: center;
}

.tasks p > span {
  margin-right: 10px;
}

/* Headings
---------------------------------------------------------------------------- */
.sg-about {
  margin-top: 2em;
}

.row > .page-header {
  padding-top: 2em;
}

/* Buttons
---------------------------------------------------------------------------- */
.sg-btn {
  float: left;
  text-shadow: none !important;
}

.sg-btn--top {
  float: right;
}

ul.scroll-menu {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  width: 100%;
  max-height: 500px;
}

.dropdown-header {
  text-transform: uppercase;
}

.sg-btn--select {
  border-radius: 0 0.3em;
  position: absolute;
  right: 5px;
  top: 14px;
}

.sg-btn--select.is-active:hover:after {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  top: 45px;
  color: #fff;
  content: "Selected code ready to be copied";
  font-size: .8em;
  display: block;
  right: 5px;
  padding: 5px 15px;
  position: absolute;
  white-space: nowrap;
  z-index: 98;
}

.sg-btn--select.is-active:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-width: 0 6px 6px 6px;
  top: 40px;
  content: "";
  display: block;
  left: 75%;
  position: absolute;
  z-index: 99;
}

/* Hide specific buttons for use with JS */
.sg-btn--source {
  clear: both;
}

.sg-btn--source,
.sg-btn--select {
  display: none;
}

/* Show specific buttons if JS enabled */
.js .sg-btn--source,
.js .sg-btn--select {
  display: block;
}

/* Hide specific buttons conditionally */
.operamini .sg-btn--source,
.legacy .sg-btn--source {
  display: none;
}

/* Sections
---------------------------------------------------------------------------- */
.sg-section {
  margin-bottom: 32px;
  /* For older browsers */
  margin-bottom: 3rem;
  clear: both;
}

.sg-anchor {
  display: block;
  padding-top: 1em;
}

/* Fonts
---------------------------------------------------------------------------- */
.sg-font {
  font-size: 1.8em;
  padding: 0 0 .2em 0;
}

.sg-font-primary {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sg-font-secondary {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Grid
---------------------------------------------------------------------------- */
.show-grid {
  min-height: 40px;
  padding-bottom: 15px;
}

.lt-ie8 .show-grid {
  clear: both;
}

.lt-ie8 .show-grid * {
  padding-bottom: 15px;
}

.show-grid .content {
  background-color: #F5F5F5;
  padding: 15px;
}

/* Markup
---------------------------------------------------------------------------- */
.sg-markup-controls {
  overflow: hidden;
  padding-top: 1.5em;
  clear: both;
}

.sg-source {
  margin-bottom: 32px;
  clear: both;
}

.sg-source-heading {
  margin-top: 32px;
  clear: both;
}

.sg-source pre {
  background: #333;
  border: 1px solid #ddd;
  color: #fff;
  overflow-x: scroll;
  padding: 32px;
  margin: 0px;
}

.sg-source pre:after {
  content: '';
  display: block;
  clear: both;
}

.sg-source pre code {
  background: transparent;
}

.sg-source,
.operamini .sg-source,
.legacy .sg-source {
  max-height: 250px;
  overflow: auto;
}

/* -------------------------------------------------------------------------
 Prettyprint
---------------------------------------------------------------------------- */
.pln {
  color: #ffffff;
}

/* plain text */
@media screen {
  .str,
  .string {
    color: #E6DB74;
  }
  /* string content */
  .kwd,
  .keyword {
    color: #66D9EF;
  }
  /* a keyword */
  .com,
  .comment {
    color: #75715E;
  }
  /* a comment */
  .typ {
    color: #A6E22E;
  }
  /* a type name */
  .lit,
  .number {
    color: #AE81FF;
  }
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* .pun, .opn, .clo { color: #660 } */
  .tag {
    color: #F92672;
  }
  /* a markup tag name */
  .atn {
    color: #A6E22E;
  }
  /* a markup attribute name */
  .atv {
    color: #E6DB74;
  }
  /* a markup attribute value */
  /*.dec, .var { color: #606 }*/
  /* a declaration; a variable name */
  .fun {
    color: #FF0000;
  }
  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #004444;
  }
  .pun,
  .opn,
  .clo {
    color: #444400;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #440044;
  }
  .atv {
    color: #006600;
  }
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  border-left: 1px solid #444;
  margin: 0 0 0 3.3em;
  /* IE indents via margin-left */
  padding: 0;
}

ol.linenums li {
  color: #bebec5;
  line-height: 1.5;
  padding-left: .8em;
}

/* -------------------------------------------------------------------------
 Legacy IE
---------------------------------------------------------------------------- */
/**
 * IE 7 Fixes
 */
.sg-color {
  *display: inline;
  zoom: 1;
}

/* End IE 7 Fixes */
/**
 * IE 6 Fixes
 */
pre {
  _white-space: pre;
  _white-space: pre-wrap;
  _word-wrap: break-word;
}

/* End IE 6 Fixes */
