---
name: Text Aligned Button
order: 3
hidden: true
labels:
  - inprogress
previewClass: drizzle-u-rhythm bg-red
---
<button class="btn btn-full btn-text-left">Button</button>
<button class="btn btn-full btn-text-right">Button</button>