---
notes: This is the base button class.
hidden: true
previewClass: bg-red
---
{{!-- <a hred="#" class="btn btn-rounded {{class}}"{{#if disabled}} disabled{{/if}}>
  {{#block "content"}}
    Button
  {{/block}}
</a> --}}
<a href="#" class="btn {{class}}">Link</a>
<button class="btn {{class}}">Button</button>
