---
name: Button Colors
notes: All buttons that progress the user to the next step should be white, if a button takes the user back (cancel for example) then it should be 'negateive'.
order: 4
labels:
  - approved
  - react
previewClass: drizzle-u-rhythm bg-red
---

<a href="#" class="btn">This is the primary button</a>
<a href="#" class="btn btn-negative">This is the negative button</a>
<a href="#" class="btn btn-secondary">This is the secondary button</a>


    <!--<a href="#" class="btn">Link</a>
    <a href="#" class="btn btn-negative">btn-negative</a>
    <a href="#" class="btn btn-secondary">btn-secondary</a>
    <a href="#" class="btn btn-success">btn-success</a>
    <a href="#" class="btn btn-danger">btn-danger</a>
    <a href="#" class="btn btn-warning">btn-warning</a>
    <a href="#" class="btn btn-info">btn-info</a> -->

{{#embed "patterns.atoms.reactWrapper" root_id="reactButtonType" appId="DemoButtonType"}}
  {{#content "content"}}
    <Button>Primary Button</Button>
    <Button type="negative">Negative Button</Button>
    <Button type="secondary">Secondary Button</Button>
  {{/content}}
{{/embed}}