---
name: Disabled Button
notes: |
  This is a disabled button.
labels:
  - approved
  - react
hidden: false
previewClass: bg-red
---

{{#embed "patterns.atoms.reactWrapper" root_id="reactButtonDisabled" appId="DemoButtonDisabled"}}
  {{#content "content"}}
    <Button elementType="button" disabled>Disabled Button</Button>
    <Button type="negative" elementType="button" disabled>Disabled Button</Button>
    <Button type="secondary" elementType="button" disabled>Disabled Button</Button>
  {{/content}}
{{/embed}}