---
name: Rounded Button
notes: |
  This is a rounded button.
order: 6
labels:
  - inprogress
hidden: true
previewClass: drizzle-u-rhythm bg-red
---
<a href="#" class="btn btn-rounded">Link</a>
<button class="btn btn-rounded">Button</button>