---
name: Buttons With Icon
notes: |
  Unless the icons are not showing a direction('Go back' or 'Go next'), we recommend to keep the icon to the left and the text to the right of the button, in order to keep consistency through the whole website/application.
links:
  ionicons documentation: http://ionicons.com/
labels:
  - approved
  - react
order: 5
previewClass: drizzle-u-rhythm bg-red
---
<div class="buttons-group">
    <button class="btn"><i class="ion-ios-arrow-left"></i> Button</button>
    <button class="btn">Button <i class="ion-ios-arrow-right"></i></button>
    <button class="btn"><i class="ion-card"></i> Button</button>
    <button class="btn">Button<i class="ion-ios-download-outline"></i></button>
</div>

<div class="buttons-group">
    <button class="btn btn-text-opposit"><i class="ion-ios-arrow-left"></i>Button</button>
    <button class="btn btn-text-opposit">Button<i class="ion-ios-arrow-right"></i></button>
</div>

{{#embed "patterns.atoms.reactWrapper" root_id="reactButtonIcon" appId="DemoButtonIcon"}}
  {{#content "content"}}
    <ButtonGroup className="mt2 mb3" horizontal>
      <Button><IconSvg type='top-up' /> Top-up</Button>
      <Button><IconSvg type='gift' /> Give</Button>
      <Button>Next <IconSvg /></Button>
    </ButtonGroup>
    <ButtonGroup horizontal>
      <Button><i className="ion-ios-arrow-left"></i> Button</Button>
      <Button>Button <i className="ion-ios-arrow-right"></i></Button>
      <Button><i className="ion-card"></i> Button</Button>
      <Button><i className="ion-ios-download-outline"></i> Button</Button>
    </ButtonGroup>
    <ButtonGroup horizontal>
      <Button type="text-opposit" full={false}><i className="ion-ios-arrow-left"></i> Button</Button>
      <Button type="text-opposit" full={false}>Button <i className="ion-ios-arrow-left"></i></Button>
    </ButtonGroup>
  {{/content}}
{{/embed}}
