---
title: Documentation
notes: |
  General documentation of naming conventions and template usage
---

<h1>{{title}}</h1>

<p>General documentation of naming conventions and template usage</p>

<ul>
  {{#each (pages "docs" ignore="index")}}
    <li>
      <a href="{{@root.baseurl}}/{{url}}">{{data.title}}</a>
    </li>
  {{/each}}
</ul>
