---
name: Spacers
order: 2
labels:
  - inprogress
previewClass: drizzle-u-rhythm bg-red
hidden: false
---
<hr>
<div class="mt1">Margin top x1</div>
<hr>
<div class="mt2">Margin top x2</div>
<hr>
<div class="mt3">Margin top x3 (max = 20)</div>
<hr>
<div class="mb1">Margin bottom x1</div>
<hr>
<div class="mb2">Margin bottom x2</div>
<hr>
<div class="mb3">Margin bottom x3 (max = 20)</div>
<hr>