/**
 * Drizzle UI Styles
 */
@import "suitcss-base";
@import "suitcss-components-button";
@import "suitcss-components-arrange";
@import "suitcss-components-grid";
@import "./base/index.css";
@import "./components/index.css";
@import "./prism.css";

@import "suitcss-utils";
@import "./utils/index.css";


/* .drizzle-u-rhythm .drizzle-u-border .drizzle-u-pad.drizzle-u-cf {
    background-color: #f0f0f0;
} */

.bg-red {
    background-color: #C1053F;
    color: white;
}
.bg-dark {
    background-color: #333333;
    color: white;
}
.bg-light {
    background-color: #f0f0f0;
}
.bg-white {
    background-color: #fff;
}

.hide {
    display: none;
}

.reactDemo {
    border: 2px solid var(--color-yellow);
    padding: 20px;
    position: relative;
    clear: both;
    overflow: auto;
    &:after {
        content: "React demo";
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 20px;
        background: var(--color-yellow);
        color: black;
        border-radius: 0 0 0 5px;
    }
}
