.buttons-group {
    width: 100%;
    display: flex;
    margin: 0 0 $gutter 0;

    &:last-child {
        margin: 0 0 0 0;
    }

    & .btn {
        width: 100%;
        margin: 0 $gutter 0 0;

        &:last-child {
            margin: 0 0 0 0;
        }
    }
}

.buttons-group-row {
    flex-direction: row;
}

.buttons-group-col {
    flex-direction: column;

    .btn {
        margin: 0 0 $gutter 0;
    }

    .btn:last-child {
        margin: 0 0 0 0; 
    }
}