.user-box {
    position: relative;

    .user-nav {
        position: absolute;
        background-color: $white;
        color: $secondary;
        padding: 20px;
        border-radius: $radius;
        top: calc(100% + 20px);
        right: -50px;
        width: 200px;
        width: 350px;
        //position: realtive;

        @include media-breakpoint-up('md') {
            right: 0;
        }



        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        
        .notifications {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;    
            background-color: rgba($green, 0.95);
            margin: 0;
            padding: 20px;
            color: white;
            border-bottom-right-radius: $radius;
            border-bottom-left-radius: $radius;
            transform: translateY(100%);
            transform: translateY(calc(100% - 4px));
            // list-style-type: circle;

            li {
                padding-bottom: 5px;
                margin-bottom: 5px;
                border-bottom: 1px solid rgba(255,255,255,.2);

                &:last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: 0;
                }
            }

            .delete-not {
                color: $white;
                font-family: $font-bold;
                text-decoration: none;
                opacity: 0;
                transition: all .2s ease-out;

                i {
                    font-size: 20px;
                    vertical-align: sub;
                    height: 5px;
                    display: inline-block;
                }
            }

            li:hover .delete-not {
                opacity: 1;
            }
        }

        a {
            color: $secondary;
            text-decoration: none;

            i {
                font-size: 1.2em;
            }
        }

        .user-nav-not {
            position: absolute;
            display: block;
            width: 100%;
            color: white;
            background-color: $green;
            text-decoration: none;
            text-align: center;
            padding: 10px 20px;
            bottom: 0;
            left: 0;
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
            transform: translateY(calc(100% + 1px));
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: -5px;
            right: 65px;
            width: 10px;
            height: 10px;
            background-color: $white;
            transform: rotate(45deg);

            @include media-breakpoint-up('md') {
                right: 15px;
            }

        }

    }
    
}

.signout {
    font-size: 15px;
    text-decoration: none;
    font-family: $font;
    margin-bottom: -2px;

    i {
        margin-left: 5px;
    }
}

.user-nav-title {
    margin-bottom: .25em;
}

.user-nav-account-no {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: $gutter*2;
    font-family: $font-secondary;
}

.user-nav-action {
    a {
        display: flex;
        align-items: center;

        i {
            min-width: 25px;
        }
    }
}
