---
name: Logo
labels:
  - inprogress
previewClass: drizzle-u-rhythm bg-red
hidden: true
---
<a href="/" title="Stewardship" class="logo">
  <img src="../../assets/toolkit/images/stewardship-logo-white.svg" alt="Stewardship">
</a>