---
name: Buttons Grouped Row
notes: Buttons default to side by side within 'button-group'. Use this class to wrap buttons to keep them spaced properly.
order: 1
labels:
  - approved
  - react
previewClass: drizzle-u-rhythm bg-red
---

<div class="buttons-group">
    <a href="#" class="btn">Link</a>
    <a href="#" class="btn">Link</a>
</div>

<div class="buttons-group">
    <a href="#" class="btn">Link</a>
    <a href="#" class="btn">Link</a>
    <a href="#" class="btn">Link</a>
</div>

<div class="buttons-group">
    <a href="#" class="btn">Link</a>
    <a href="#" class="btn">Link</a>
    <a href="#" class="btn">Link</a>
    <a href="#" class="btn">Link</a>
</div>

{{#embed "patterns.atoms.reactWrapper" root_id="reactButtonGroupRow" appId="DemoButtonGroupRow"}}
  {{#content "content"}}
    <ButtonGroup horizontal>
          <Button>Button</Button>
          <Button>Button</Button>
    </ButtonGroup>
    <ButtonGroup horizontal>
          <Button>Button</Button>
          <Button>Button</Button>
          <Button>Button</Button>
    </ButtonGroup>
    <ButtonGroup horizontal>
          <Button>Button</Button>
          <Button>Button</Button>
          <Button>Button</Button>
          <Button>Button</Button>
    </ButtonGroup>
  {{/content}}
{{/embed}}