footer {
    position: relative;
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: $grey-charcoal-darker;
    color: $white;

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(rgba($black, .5), rgba($black, 0));
        opacity: .3;
    }

    a {
        color: $white;
        text-decoration: none;
    }


    p {
        font-size: 15px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    nav {
        margin-top: $gutter*2;
        
        ul {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;

            li {
                padding-left: 20px;
                margin-left: 20px;
                border-left: 1px solid rgba($white, .5);
                line-height: 1em;

                &:first-child {
                    border: none;
                }
            }
        }
    }

    .help {
        display: inline-block;
        width: auto;
        border: 1px solid rgba(255,255,255, .3);
        padding: 20px;
    }

}