.content-page main {
    height: auto;

    img {
        margin-bottom: 50px;
        max-width: 100%;
        height: auto;
    }
}

main {
    width: 100%;
    //height: 100vh;
    min-height: 100vh;
    padding: 80px+$gutter*2 0 $gutter*2 0;
    color: white;
    overflow: hidden;
    transition: filter .3s ease-out;


    > div.wrapper {
        width: 100%;
        max-width: 1140px;
        height: 100%;
        min-height: calc(100vh - 140px);
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;     
    }

    @media all and (-ms-high-contrast:none){
        *::-ms-backdrop, > div {
            height: calc(100vh - 140px);
            min-height: 750px;
            margin-top: 80px+$gutter*2;
        } /* IE11 */
    }

    &.layout-111-fluid > div {
        max-height: initial;
    }

    .top,
    .middle,
    .bottom {
        display: flex;
        justify-content: center;
    }

    .top {
        align-items: flex-start;
        flex: 0 0 auto;
        z-index: 1;

        h1, h2, h3 {
            text-align: center;
        }
        
        h1 {
            margin-bottom: .5em;
            
            + * {
                line-height: 1.25em;
            }
        }
    }

    .middle {
        flex: 1 0 auto;
        //overflow: auto;
        align-items: center;

        > * {
            margin: auto;
        }
        
        @media all and (-ms-high-contrast:none){
            *::-ms-backdrop, > * {
                margin: 0;
            } /* IE11 */
        }
        &.align-top {
            align-items: flex-start !important;
            > * {
                margin: 0 auto;
            }
        }
    }

    .bottom {
        align-items: flex-end;
        flex: 0 0 auto;
        padding-top: 50px;
    }

    @media all and (-ms-high-contrast:none){
        *::-ms-backdrop, .bottom {
            margin-bottom: 20px;
        } /* IE11 */
    }
}

main .top,
.main .top,
main .middle,
.main .middle,
main .bottom,
.main .bottom {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
}

.ready main .top,
.ready .main .top,
.ready main .middle,
.ready .main .middle,
.ready main .bottom,
.ready .main .bottom {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all .5s ease-out;
}

.ready main .middle,
.ready .main .middle {
    transition-delay: .2s;
}

.ready main .bottom,
.ready .main .bottom {
    transition-delay: .3s;
}

// .blur {
//     filter: blur(3px);
// }
