.transactions {
}

.transaction {
    display: flex;
    position: relative;
    margin-bottom: $gutter*2;

    &:after {
        content: "";
        display: block;
        width: 1px;
        height: calc(100% + 50px);
        position: absolute;
        left: 50%;
        top: -25px;
        background-color: white;
    }
}

.transaction-in {
    justify-content: flex-start;
}

.transaction-out {
    justify-content: flex-end;
}

.transaction-date {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    .transaction-in & {
        left: 50%;
        margin-left: 50px;

        &:before {
            content: "";
            display: block;
            width: 25px;
            height: 1px;
            background-color: $white;
            position: absolute;
            top: calc(50% - 1px);
            left: -50px;
        }

    }

    .transaction-out & {
        right: 50%;
        margin-right: 50px;

        &:after {
            content: "";
            display: block;
            width: 25px;
            height: 1px;
            background-color: $white;
            position: absolute;
            top: calc(50% - 1px);
            right: -50px;
        }
    }

}

.transaction-details {
    flex: 0 0 50%;
    padding: 20px;
    color: $secondary;
    background-color: $white;
    overflow: hidden;
    position: relative;

    .transaction-in & {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
        padding: $gutter;
    }

    .transaction-out & {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        padding: 20px 20px 120px 20px;
        //box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
        @include media-breakpoint-up('md') {
            padding: 20px 170px 20px 20px;
        }
    }

    // h2 {
    //     margin: 0;
    // }

    p {
        font-size: 15px;
        margin-bottom: 0;
    }
}

.transaction-title {
    margin-bottom: 5px;
}

.transaction-img {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    overflow: hidden;

    .transaction-in & {
        left: 0;
    }

    .transaction-out & {
        right: 0;
    }

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: auto;

            @include media-breakpoint-up('md') {
                width: auto;
                height: 100%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
    }

    @include media-breakpoint-up('md') {
        width: 150px;
        height: 100%;
        top: 0;
        bottom: initial;
    }

}

.open-ref {
    text-decoration: none;
    margin: 5px 0;
    font-size: 15px;
    font-family: $font;
}

.transaction-reference {
    display: none;
}

.transaction-reference-visible {
    display: block;
}

