.top-up {
	display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.top-up-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.top-up-amount {
    display: flex;
    align-items: flex-end;
    width: 200px;
    margin: 0 auto;
    position: relative;

    &:before {
        content: "£";
        font-size: 35px;
    }

    // &:after {
    //     content: ".00";
    //     font-size: 35px;
    // }

    input {
        color: white;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255,255,255,.2);
        width: 100%;
        font-size: 50px;
        border-radius: 0;
        outline: none;
        padding: 0;
        margin: 0;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.top-up-amount-input-box {
	display: flex;
	//width: 200px;
	margin-left: 10px;
	position: relative;
    font-size: 1.5em;
    // padding-top: 50px;

    &:after,
    &:before {
        content: "";
        display: block;
        position: absolute;
    }

    &:after {
        bottom: -2px;
        left: -2.5px;
        background-color: white;
        animation: 1.5s infinite slidein;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        transition: all .3s ease-in-out;
    }

    &.focused:after {
        opacity: 0;
    }

    &:before {
        width: 100%;
        height: 1px;
        bottom: 0px;
        left: 0;
        transform-origin: center left;
        transform: scaleX(0);
        transition: all .2s ease-out;
        background-color: rgba(255,255,255, .65);
    }

    &.focused:before {
        transform: scaleX(1);
    }


}

.top-up-info {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: all .3s ease-out;
}

.top-up-info-visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.top-up-info-converted {
	font-size: 25px;
	display: flex;
	align-items: baseline;
	justify-content: center;
	height: 25px;
	line-height: 1em;
	position: relative;
    margin: 10px 0;
    padding: 10px 0;

        font-size: 1em;
        // margin-right: 10px;

}

.top-up-hidden-info {
    width: 20px;
    height: 20px;
    background-color: black;
    bottom: 0;
    left: calc(50% - 10px);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transition: all .3s ease-in-out;
}

.top-up-info-converted-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: $grey-charcoal;
    border-radius: 50%;
    margin: 0 0 0 0;
    position: relative;
    cursor: pointer;
    font-size: 15px!important;
    line-height: 1em;
    position: relative;
    top: -12px;
    

    &:after {
        content: attr(data-info);
        width: 200px;
        position: absolute;
        font-size: 15px;
        background-color: $grey-charcoal;
        padding: 20px;
        border-radius: $radius;
        top: 0;
        right: 0;
        transform: translateY(25px);
        line-height: 1.35em;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
        // transform: translateY(-25px);
    }
}

@include media-breakpoint-up('md') {
    .top-up-info-converted-info:after {
        top: 0;
        right: auto;
        left: 30px;
        transform: translateY(-30%);
    }
}

.top-up-info-converted-info:hover:after {
    opacity: 1;
    visibility: visible;
    transform: translateY(-20%);
}

@include media-breakpoint-up('md') {
    .top-up-info-converted-info:hover:after {
        top: 0;
        right: auto;
        left: 30px;
    }
}

.top-up-info-equal {
    // font-size: 40px;
    // line-height: 1;
}

.top-up-buttons > * {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all .3s ease-out 0s;
}

.top-up-buttons-visible > * {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: all .3s ease-out .1s;
}

@keyframes slidein {
    0% {
        left: 0;
        width: 10px;
    }
    25% {
        transform: scaleY(.5) scaleX(4) translateZ(0);
    }
    50% {
        left: 100%;
        transform: scaleY(1) scaleX(1) translateZ(0);
    }
    75% {
        transform: scaleY(.5) scaleX(4) translateZ(0);
    }
}