---
name: Form Grid
notes: |
  We are using the Bootstrap 4 Grid system for general structure.
links:
  Bootstrap 4 Grid documentation: https://getbootstrap.com/docs/4.0/layout/grid/
labels:
  - inprogress
previewClass: drizzle-u-rhythm bg-red
hidden: false
---
<form action="">
    <div class="form-row">
        <div class="form-group col-md-1">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-1"></div>
            </div>
        </div>
        <div class="form-group col-md-1">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-1"></div>
            </div>
        </div>
        <div class="form-group col-md-1">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-1"></div>
            </div>
        </div>
        <div class="form-group col-md-1">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-1"></div>
            </div>
        </div>
        <div class="form-group col-md-1">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-1"></div>
            </div>
        </div>
        <div class="form-group col-md-1">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-1"></div>
            </div>
        </div>
        <div class="form-group col-md-2">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-2"></div>
            </div>
        </div>
        <div class="form-group col-md-2">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-2"></div>
            </div>
        </div>
        <div class="form-group col-md-2">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-2"></div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-3"></div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-3"></div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-5"></div>
            </div>
        </div>
        <div class="form-group col-md-7">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-7"></div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-6"></div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-6"></div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-8"></div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-9">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-9"></div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-3"></div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-10"></div>
            </div>
        </div>
        <div class="form-group col-md-2">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-2"></div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-11">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-11"></div>
            </div>
        </div>
        <div class="form-group col-md-1">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-1"></div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="form-el">
                <label for="">label</label>
                <div class="input"><input type="text" class="small" placeholder="col-md-12"></div>
            </div>
        </div>
    </div>

</form>