---
name: Home Main Bubble
notes: |
    The key strategy with the new user experience is to reinfoce the idea that that the account lets you top-up and give.  Anything left is your balance.
    The bubbles help to reinfoce that idea.
labels:
  - inprogress
previewClass: drizzle-u-rhythm bg-red
hidden: true
---
<div class="main-bubble middle">
    <div class="col-sm-12">
        <div class="bubble-slider">
            <div class="bubble-slider-item">
                <h2 class="h3">Monthly top-ups</h2>
                <div class="bubble-slider-amount"><span>£</span>200.00</div>
                <span>Boosted to <span class="money">246.00</span></span>
            </div>
            <div class="bubble-slider-item">
                <h2 class="h3">Available balance</h2>
                <div class="bubble-slider-amount"><span>£</span>0.00</div>
                <span>Uncleared: <span class="money">100</span></span>
            </div>
            <div class="bubble-slider-item">
                <h2 class="h3">Regular gifts</h2>
                <div class="bubble-slider-amount"><span>£</span>246.00</div>
                <span>To 3 recipients</span>
            </div>
        </div>
        <div class="main-bubble-cta col-sm-6">
            <a href="#" class="btn btn-special"><i class="ion-ios-arrow-thin-up"></i> Top-up</a>
            <a href="#" class="btn btn-special">Give</a>
        </div>
    </div>
</div>