.notification {
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
    background-color: transparent;
    background-image: url("#{$imageLocation}/bell-white.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    cursor: pointer;   
    border: none;
    appearance: none;

    &[data-not]:after {
        content: attr(data-not);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        background-color: green;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        font-size: 13px;
        color: white;
    }
}