.select {
    position: relative;
    margin: 0 0 $gutter 0;

    &:after {
        content: "\f3d0";
        display: inline-block;
        font-family: "Ionicons";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        right: $gutter;
        top: 50%;
        transform: translateY(-50%);
        color: inherit;
        pointer-events: none;
    }

    .form-el & {
        margin-top: 10px;
    }
}

select {
    appearance: none;
    border: none;
    padding: 0 $gutter;
    height: $input;
    border-radius: $radius;
    background-color: transparent;
    border: 1px solid rgba($white, .5);
    //@include icon-image('arrow-white-south');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: top 50% right $gutter;
    right: 0;
    color: $white;
    line-height: 1em;
    overflow: hidden;
    width: 100%;
    font-family: $font;
    font-size: 17px;

    &.small {
        padding: 0 $gutter/2;
    }
    option {
        color: $grey-charcoal;
    }
}

select::-ms-expand {
    display: none;
}