textarea {
    appearance: none;
    border: none;
    padding: $gutter;;
    border-radius: $radius;
    background-color: transparent;
    border: 1px solid rgba($white, 0.5);
    color: $white;
    font-family: $font;
    line-height: 1.3em;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    font-size: 17px;
    resize: none;

    .card-stat-message & {
        border: 1px solid rgba($secondary, 0.5);
        color: $secondary;
    }

    &::placeholder {
        color: inherit;
        opacity: 1;
    }
}  


