---
name: Recent Transactions
labels:
  - approved
previewClass: drizzle-u-rhythm bg-red
---
<div class="middle">
    <div class="col-sm-12">
        <div class="transactions">
            {{#embed "patterns.molecules.transactions.top-up" icon="ion-ios-card" date="30th January 2018" title="One-off top-up" amount="20" amount-added="2.5"}}{{/embed}}
            {{#embed "patterns.molecules.transactions.top-up" icon="ion-ios-card" date="20th January 2018" title="Monthly top-up" amount="20" amount-added="2.5"}}{{/embed}}
            {{#embed "patterns.molecules.transactions.gift" icon="" date="10th January 2018" title="One-off gift to Oxfam" amount="20" amount-added="2.5"}}{{/embed}}
            {{#embed "patterns.molecules.transactions.top-up" icon="ion-ios-card" date="5th January 2018" title="One-off top-up" amount="20" amount-added="2.5"}}{{/embed}}
            {{#embed "patterns.molecules.transactions.gift" icon="ion-ios-card" date="1st January 2018" title="Regular gift to Oxfam" amount="20" amount-added="2.5"}}{{/embed}}
            {{#embed "patterns.molecules.transactions.gift" icon="ion-ios-card" date="1st January 2018" title="One-off gift to Oxfam" amount="20" amount-added="2.5"}}{{/embed}}
        </div>
    </div>
</div>