---
name: Checkbox
order: 2
labels:
  - approved
previewClass: drizzle-u-rhythm bg-red
---

<div class="checkbox">
    <input type="checkbox" id="dontask"><label for="dontask" >Don't ask me this again</label>
</div>