---
name: Input (small)
order: 4
labels:
  - approved
previewClass: drizzle-u-rhythm bg-red
---

<div class="form-el">
    <label for="">Text</label>
    <div class="input"><input type="text" class="small"></div>
</div>
