---
name: Select
order: 3
labels:
  - approved
previewClass: drizzle-u-rhythm bg-red
---

<div class="form-el">
  <label for="">Label</label>
  <div class="select">
    <select>
      <option selected disabled>Select</option>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select>
  </div>
</div>


