---
name: Charity Favorites
labels:
  - inprogress
previewClass: drizzle-u-rhythm bg-red
---

<div class="charts-container">
    <div class="chart chart-1">
        <div class="chart-el">
            <canvas class="chart-canvas" id="chart-1-chart">
                <script>
                    var dataChart1 = [3,12],
                        labelsChart1 = ['One-off', 'Monthly'];
                </script>
            </canvas>
        </div>
        <div class="chart-info">
            <h2>One-off / regular</h2>
        </div>
    </div>
    <div class="chart chart-2">
        <div class="chart-el">
            <canvas class="chart-canvas" id="chart-2-chart">
                <script>
                    var dataChart2 = [12,10,2],
                        labelsChart2 = ['Money in', 'Money increased', 'Money out'];
                </script>
            </canvas>
        </div>
        <div class="chart-info">
            <h2>£8000.00</h2>
            <h3 class="h4">Given over 12 months</h3>
            <span><i class="ion-ios-arrow-thin-up"></i> up 12%</span>
        </div>
    </div>
    <div class="chart chart-3">
        <div class="chart-el">
            <canvas class="chart-canvas" id="chart-3-chart">
                <script>
                    var dataChart3 = [12,3, 20, 15, 23, 12, 12, 12, 3, 7],
                        labelsChart3 = ['Charity 1', 'Charity 2', 'Charity 3', 'Charity 4', 'Charity 1', 'Charity 2', 'Charity 2',  'Charity 2', 'Charity 2', 'Charity 2'];
                </script>
            </canvas>
        </div>
        <div class="chart-info">
            <h2>Charities</h2>
        </div>
    </div>
</div>